@@@ServerNerds @"Carlos" @"Gabriel" @"Miha Krajnc"

Quantum/ @@ServerNerds

BlastRoyale/Assets/Src/FirstLight/Game/Logic/ @@ServerNerds
BlastRoyale/Assets/Src/FirstLight/Game/Commands/ @@ServerNerds
BlastRoyale/Assets/Src/FirstLight/Game/Data/ @@ServerNerds
BlastRoyale/Assets/AddressableResources/Configs/ @@ServerNerds
BlastRoyale/Assets/Src/FirstLight/Game/Utils/NetworkUtils.cs @@ServerNerds
BlastRoyale/Assets/Src/FirstLight/Game/StateMachines/NetworkState.cs @@ServerNerds
BlastRoyale/Assets/Libs/Photon/ @@ServerNerds
BlastRoyale/Assets/Art/UI/ @"Miha Krajnc"
BlastRoyale/Assets/Src/FirstLight/Game/Presenter/ @"Miha Krajnc"
BlastRoyale/Assets/Src/FirstLight/Game/Views/UITK/ @"Miha Krajnc"
BlastRoyale/Assets/Src/FirstLight/Game/UIElements/ @"Miha Krajnc"

Pipelines/ @"Carlos"

AllGroupsCheck(1)