@@@ServerNerds @"Carlos" @"Gabriel" @"Miha Krajnc"

Quantum/ @@ServerNerds
Assets/Src/FirstLight/Game/Logic/ @@ServerNerds
Assets/Src/FirstLight/Game/Commands/ @@ServerNerds
Assets/Src/FirstLight/Game/Data/ @@ServerNerds
Assets/AddressableResources/Configs/ @@ServerNerds
Assets/Src/FirstLight/Game/Utils/NetworkUtils.cs @@ServerNerds
Assets/Src/FirstLight/Game/StateMachines/NetworkState.cs @@ServerNerds
Assets/Libs/Photon/ @@ServerNerds
Assets/Art/UI/ @"Miha Krajnc"
Assets/Src/FirstLight/Game/Presenter/ @"Miha Krajnc"
Assets/Src/FirstLight/Game/Views/UITK/ @"Miha Krajnc"
Assets/Src/FirstLight/Game/UIElements/ @"Miha Krajnc"

AllGroupsCheck(1)