.password-field__container {
    flex-direction: row;
    overflow: visible;
}

.view-hide-button {
    background-image: var(--sprite-home__icon-show-purple);
    width: 38px;
    height: 38px;
    position: absolute;
    top: 19px;
    left: 624px;
    margin-top: 0;
    margin-bottom: -40px;
}

.view-hide-button--show {
    background-image: var(--sprite-home__icon-hide-purple);
}