/* AUTO GENERATED */
:root {
    --sprite-currencies__blastbuck-1: url('/Assets/Art/UI/Sprites/Currencies/blastbuck-1.png');
    --sprite-currencies__blastbuck-2: url('/Assets/Art/UI/Sprites/Currencies/blastbuck-2.png');
    --sprite-currencies__blastbuck-3: url('/Assets/Art/UI/Sprites/Currencies/blastbuck-3.png');
    --sprite-currencies__blastbuck-default: url('/Assets/Art/UI/Sprites/Currencies/blastbuck-default.png');
    --sprite-currencies__blst: url('/Assets/Art/UI/Sprites/Currencies/blst.png');
    --sprite-currencies__bpp: url('/Assets/Art/UI/Sprites/Currencies/bpp.png');
    --sprite-currencies__bpp-reward: url('/Assets/Art/UI/Sprites/Currencies/bpp-reward.png');
    --sprite-currencies__coin-1: url('/Assets/Art/UI/Sprites/Currencies/coin-1.png');
    --sprite-currencies__coin-2: url('/Assets/Art/UI/Sprites/Currencies/coin-2.png');
    --sprite-currencies__coin-3: url('/Assets/Art/UI/Sprites/Currencies/coin-3.png');
    --sprite-currencies__coin-default: url('/Assets/Art/UI/Sprites/Currencies/coin-default.png');
    --sprite-currencies__cs: url('/Assets/Art/UI/Sprites/Currencies/cs.png');
    --sprite-currencies__cs-reward: url('/Assets/Art/UI/Sprites/Currencies/cs-reward.png');
    --sprite-currencies__fragments-default: url('/Assets/Art/UI/Sprites/Currencies/fragments-default.png');
    --sprite-currencies__noob-1: url('/Assets/Art/UI/Sprites/Currencies/noob-1.png');
    --sprite-currencies__noob-default: url('/Assets/Art/UI/Sprites/Currencies/noob-default.png');
    --sprite-currencies__partnerancient8-default: url('/Assets/Art/UI/Sprites/Currencies/partnerancient8-default.png');
    --sprite-currencies__partnerapecoin-default: url('/Assets/Art/UI/Sprites/Currencies/partnerapecoin-default.png');
    --sprite-currencies__partnerbeam-default: url('/Assets/Art/UI/Sprites/Currencies/partnerbeam-default.png');
    --sprite-currencies__partnerblocklords-default: url('/Assets/Art/UI/Sprites/Currencies/partnerblocklords-default.png');
    --sprite-currencies__partnerbloodloop-default: url('/Assets/Art/UI/Sprites/Currencies/partnerbloodloop-default.png');
    --sprite-currencies__partnercrosstheages-default: url('/Assets/Art/UI/Sprites/Currencies/partnercrosstheages-default.png');
    --sprite-currencies__partnerfarcana-default: url('/Assets/Art/UI/Sprites/Currencies/partnerfarcana-default.png');
    --sprite-currencies__partnergam3sgg-default: url('/Assets/Art/UI/Sprites/Currencies/partnergam3sgg-default.png');
    --sprite-currencies__partnerimmutable-default: url('/Assets/Art/UI/Sprites/Currencies/partnerimmutable-default.png');
    --sprite-currencies__partnermocaverse-default: url('/Assets/Art/UI/Sprites/Currencies/partnermocaverse-default.png');
    --sprite-currencies__partnernyanheroes-default: url('/Assets/Art/UI/Sprites/Currencies/partnernyanheroes-default.png');
    --sprite-currencies__partnerpiratenation-default: url('/Assets/Art/UI/Sprites/Currencies/partnerpiratenation-default.png');
    --sprite-currencies__partnerpixelmon-default: url('/Assets/Art/UI/Sprites/Currencies/partnerpixelmon-default.png');
    --sprite-currencies__partnerplanetmojo-default: url('/Assets/Art/UI/Sprites/Currencies/partnerplanetmojo-default.png');
    --sprite-currencies__partnerseedify-default: url('/Assets/Art/UI/Sprites/Currencies/partnerseedify-default.png');
    --sprite-currencies__partnerwilderworld-default: url('/Assets/Art/UI/Sprites/Currencies/partnerwilderworld-default.png');
    --sprite-currencies__partnerxborg-default: url('/Assets/Art/UI/Sprites/Currencies/partnerxborg-default.png');
}

.sprite-currencies__blastbuck-1 {
    background-image: var(--sprite-currencies__blastbuck-1);
    width: 512px;
    height: 512px;
}

.sprite-currencies__blastbuck-2 {
    background-image: var(--sprite-currencies__blastbuck-2);
    width: 512px;
    height: 512px;
}

.sprite-currencies__blastbuck-3 {
    background-image: var(--sprite-currencies__blastbuck-3);
    width: 512px;
    height: 512px;
}

.sprite-currencies__blastbuck-default {
    background-image: var(--sprite-currencies__blastbuck-default);
    width: 160px;
    height: 160px;
}

.sprite-currencies__blst {
    background-image: var(--sprite-currencies__blst);
    width: 160px;
    height: 160px;
}

.sprite-currencies__bpp {
    background-image: var(--sprite-currencies__bpp);
    width: 166px;
    height: 166px;
}

.sprite-currencies__bpp-reward {
    background-image: var(--sprite-currencies__bpp-reward);
    width: 512px;
    height: 512px;
}

.sprite-currencies__coin-1 {
    background-image: var(--sprite-currencies__coin-1);
    width: 512px;
    height: 512px;
}

.sprite-currencies__coin-2 {
    background-image: var(--sprite-currencies__coin-2);
    width: 512px;
    height: 512px;
}

.sprite-currencies__coin-3 {
    background-image: var(--sprite-currencies__coin-3);
    width: 512px;
    height: 512px;
}

.sprite-currencies__coin-default {
    background-image: var(--sprite-currencies__coin-default);
    width: 160px;
    height: 160px;
}

.sprite-currencies__cs {
    background-image: var(--sprite-currencies__cs);
    width: 160px;
    height: 160px;
}

.sprite-currencies__cs-reward {
    background-image: var(--sprite-currencies__cs-reward);
    width: 512px;
    height: 512px;
}

.sprite-currencies__fragments-default {
    background-image: var(--sprite-currencies__fragments-default);
    width: 40px;
    height: 40px;
}

.sprite-currencies__noob-1 {
    background-image: var(--sprite-currencies__noob-1);
    width: 512px;
    height: 512px;
}

.sprite-currencies__noob-default {
    background-image: var(--sprite-currencies__noob-default);
    width: 100px;
    height: 100px;
}

.sprite-currencies__partnerancient8-default {
    background-image: var(--sprite-currencies__partnerancient8-default);
    width: 100px;
    height: 100px;
}

.sprite-currencies__partnerapecoin-default {
    background-image: var(--sprite-currencies__partnerapecoin-default);
    width: 100px;
    height: 100px;
}

.sprite-currencies__partnerbeam-default {
    background-image: var(--sprite-currencies__partnerbeam-default);
    width: 100px;
    height: 100px;
}

.sprite-currencies__partnerblocklords-default {
    background-image: var(--sprite-currencies__partnerblocklords-default);
    width: 100px;
    height: 100px;
}

.sprite-currencies__partnerbloodloop-default {
    background-image: var(--sprite-currencies__partnerbloodloop-default);
    width: 100px;
    height: 100px;
}

.sprite-currencies__partnercrosstheages-default {
    background-image: var(--sprite-currencies__partnercrosstheages-default);
    width: 100px;
    height: 100px;
}

.sprite-currencies__partnerfarcana-default {
    background-image: var(--sprite-currencies__partnerfarcana-default);
    width: 100px;
    height: 100px;
}

.sprite-currencies__partnergam3sgg-default {
    background-image: var(--sprite-currencies__partnergam3sgg-default);
    width: 100px;
    height: 100px;
}

.sprite-currencies__partnerimmutable-default {
    background-image: var(--sprite-currencies__partnerimmutable-default);
    width: 100px;
    height: 100px;
}

.sprite-currencies__partnermocaverse-default {
    background-image: var(--sprite-currencies__partnermocaverse-default);
    width: 100px;
    height: 100px;
}

.sprite-currencies__partnernyanheroes-default {
    background-image: var(--sprite-currencies__partnernyanheroes-default);
    width: 100px;
    height: 100px;
}

.sprite-currencies__partnerpiratenation-default {
    background-image: var(--sprite-currencies__partnerpiratenation-default);
    width: 100px;
    height: 100px;
}

.sprite-currencies__partnerpixelmon-default {
    background-image: var(--sprite-currencies__partnerpixelmon-default);
    width: 100px;
    height: 100px;
}

.sprite-currencies__partnerplanetmojo-default {
    background-image: var(--sprite-currencies__partnerplanetmojo-default);
    width: 100px;
    height: 100px;
}

.sprite-currencies__partnerseedify-default {
    background-image: var(--sprite-currencies__partnerseedify-default);
    width: 100px;
    height: 100px;
}

.sprite-currencies__partnerwilderworld-default {
    background-image: var(--sprite-currencies__partnerwilderworld-default);
    width: 100px;
    height: 100px;
}

.sprite-currencies__partnerxborg-default {
    background-image: var(--sprite-currencies__partnerxborg-default);
    width: 100px;
    height: 100px;
}

