.generic-popup {
    width: 1017px;
    height: 611px;
}

.generic-popup__content {
    justify-content: space-between;
    align-items: center;
    padding-top: 42px;
    padding-bottom: 69px;
}

.team-invite__horizontal-group {
    flex-direction: row;
    justify-content: space-between;
    width: 666px;
}
