.team-invite {
    width: 1084px;
    height: 685px;
}

.generic-popup__content {
    justify-content: space-between;
    align-items: center;
    padding-top: 71px;
    padding-bottom: 100px;
}

.team-invite__horizontal-group {
    flex-direction: row;
    justify-content: space-between;
    width: 666px;
}
