.equipment-durability {
    height: 120px;
    color: rgb(248, 199, 46);
    -unity-font-definition: var(--font-italic);
    -unity-text-outline-width: 1px;
    font-size: 32px;
    -unity-text-outline-color: rgb(0, 0, 0);
    text-shadow: 3px 3px 0 rgb(0, 0, 0);
}

.equipment-durability--repairing .equipment-durability__plus-amount {
    display: flex;
}

.equipment-durability__progress {
    flex-grow: 0.5;
    background-image: url('project://database/Assets/Art/UI/Sprites/HomeScreen/EquipmentScreen/DurabilityBar.png?fileID=21300000&guid=2d7f74c10ed3b4352a100dc9e2226f88&type=3#DurabilityBar');
}

.equipment-durability__progress-bg {
    height: 18px;
    background-image: url('project://database/Assets/Art/UI/Sprites/HomeScreen/EquipmentScreen/DurabilityBarBg.png?fileID=21300000&guid=6154e24dd9964404b854e387ded58774&type=3#DurabilityBarBg');
    padding: 2px;
    flex-direction: row;
    position: absolute;
    left: 28px;
    top: 18px;
    right: 0;
}

.equipment-durability__icon {
    background-image: url('project://database/Assets/Art/UI/Sprites/HomeScreen/EquipmentScreen/DurabilityIcon.png?fileID=21300000&guid=c23c775b5c0864573b27d89f2a6a6a04&type=3#DurabilityIcon');
    width: 40px;
    height: 40px;
    margin-left: 2px;
    margin-top: 2px;
    position: absolute;
}

.equipment-durability__progress-label {
    -unity-text-align: upper-center;
    margin-top: -9px;
    margin-left: 11px;
}

.equipment-durability__plus-amount {
    position: absolute;
    right: 0;
    color: rgb(88, 198, 22);
    top: 0;
    display: none;
}

.equipment-durability__progress-green {
    display: none;
    position: absolute;
    left: 2px;
    top: 2px;
    right: 2px;
    bottom: 2px;
    background-image: url('project://database/Assets/Art/UI/Sprites/HomeScreen/EquipmentScreen/Popups/DurabilityBarUpgrade.png?fileID=21300000&guid=a8b60a487e5824b17a059af336cba3ec&type=3#DurabilityBarUpgrade');
}

.equipment-durability--repairing .equipment-durability__progress-green {
    display: flex;
}