.equipment-card__background {
    background-image: url('/Assets/Art/UI/Textures/EquipmentCardEditor/CardBack.png#CardBack');
}

.equipment-card:active .equipment-card__background {
    background-image: url('/Assets/Art/UI/Textures/EquipmentCardEditor/CardBackPressed.png#CardBackPressed');
}

.equipment-card__rarity {
    background-image: url('/Assets/Art/UI/Textures/EquipmentCardEditor/CommonRarityCard.png#CommonRarityCard');
}

.equipment-card__rarity--common {
    background-image: url('/Assets/Art/UI/Textures/EquipmentCardEditor/CommonRarityCard.png#CommonRarityCard');
}

.equipment-card__rarity--uncommon {
    background-image: url('/Assets/Art/UI/Textures/EquipmentCardEditor/UncommonRarityCard.png#UncommonRarityCard');
}

.equipment-card__rarity--rare {
    background-image: url('/Assets/Art/UI/Textures/EquipmentCardEditor/RareRarityCard.png#RareRarityCard');
}

.equipment-card__rarity--epic {
    background-image: url('/Assets/Art/UI/Textures/EquipmentCardEditor/EpicRarityCard.png#EpicRarityCard');
}

.equipment-card__rarity--legendary {
    background-image: url('/Assets/Art/UI/Textures/EquipmentCardEditor/LegendaryRarityCard.png#LegendaryRarityCard');
}

.equipment-card__plus-rarity {
    background-image: url('/Assets/Art/UI/Textures/EquipmentCardEditor/PlusRarity.png#PlusRarity');
}

.equipment-card__faction {
    background-image: url('/Assets/Art/UI/Textures/EquipmentCardEditor/Factions_Dimensional.png#Factions_Dimensional');
}

.equipment-card__faction--celestial {
    background-image: url('/Assets/Art/UI/Textures/EquipmentCardEditor/Factions_Celestial.png#Factions_Celestial');
}

.equipment-card__faction--chaos {
    background-image: url('/Assets/Art/UI/Textures/EquipmentCardEditor/Factions_Chaos.png#Factions_Chaos');
}

.equipment-card__faction--dark {
    background-image: url('/Assets/Art/UI/Textures/EquipmentCardEditor/Factions_Dark.png#Factions_Dark');
}

.equipment-card__faction--dimensional {
    background-image: url('/Assets/Art/UI/Textures/EquipmentCardEditor/Factions_Dimensional.png#Factions_Dimensional');
}

.equipment-card__faction--order {
    background-image: url('/Assets/Art/UI/Textures/EquipmentCardEditor/Factions_Order.png#Factions_Order');
}

.equipment-card__faction--organic {
    background-image: url('/Assets/Art/UI/Textures/EquipmentCardEditor/Factions_Organic.png#Factions_Organic');
}

.equipment-card__faction--shadow {
    background-image: url('/Assets/Art/UI/Textures/EquipmentCardEditor/Factions_Shadow.png#Factions_Shadow');
}

.equipment-card__material {
    background-image: url('/Assets/Art/UI/Textures/EquipmentCardEditor/BronzeMaterial.png#BronzeMaterial');
}

.equipment-card__material--plastic {
    background-image: url('/Assets/Art/UI/Textures/EquipmentCardEditor/PlasticMaterial.png#PlasticMaterial');
}

.equipment-card__material--bronze {
    background-image: url('/Assets/Art/UI/Textures/EquipmentCardEditor/BronzeMaterial.png#BronzeMaterial');
}

.equipment-card__material--carbon {
    background-image: url('/Assets/Art/UI/Textures/EquipmentCardEditor/CarbonMaterial.png#CarbonMaterial');
}

.equipment-card__material--golden {
    background-image: url('/Assets/Art/UI/Textures/EquipmentCardEditor/GoldMaterial.png#GoldMaterial');
}

.equipment-card__material--steel {
    background-image: url('/Assets/Art/UI/Textures/EquipmentCardEditor/SteelMaterial.png#SteelMaterial');
}

.equipment-card__level {
    background-image: url('/Assets/Art/UI/Textures/EquipmentCardEditor/LevelBack.png#LevelBack');
}

.equipment-card__category {
    background-image: url('/Assets/Art/UI/Textures/EquipmentCardEditor/WeaponCard.png#WeaponCard');
}

.equipment-card__category--weapon {
    background-image: url('/Assets/Art/UI/Textures/EquipmentCardEditor/WeaponCard.png#WeaponCard');
}

.equipment-card__category--armor {
    background-image: url('/Assets/Art/UI/Textures/EquipmentCardEditor/ArmourCard.png#ArmourCard');
}

.equipment-card__category--amulet {
    background-image: url('/Assets/Art/UI/Textures/EquipmentCardEditor/AmuletCard.png#AmuletCard');
}

.equipment-card__category--shield {
    background-image: url('/Assets/Art/UI/Textures/EquipmentCardEditor/ShieldCard.png#ShieldCard');
}

.equipment-card__category--helmet {
    background-image: url('/Assets/Art/UI/Textures/EquipmentCardEditor/HeadgearCard.png#HeadgearCard');
}

.equipment-card__badge-nft {
    background-image: url('/Assets/Art/UI/Textures/EquipmentCardEditor/NFTbadge.png#NFTbadge');
}