.highlighter-element {
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}


.highlighter-element-blocker {
    display: flex;
    background-color: rgba(0, 0, 0, 0.9);
    position: absolute;
}

