.special-display {
    background-image: var(--sprite-home__button-special);
    width: 142px;
    height: 142px;
    align-items: center;
    justify-content: center;
}

.special-display__icon {
    width: 84px;
    height: 84px;
}