/* AUTO GENERATED */
:root {
    --sprite-shared__avatar-default: url('/Assets/Art/UI/Sprites/Shared/avatar-default.png');
    --sprite-shared__background-currentplayer: url('/Assets/Art/UI/Sprites/Shared/background-currentplayer.png');
    --sprite-shared__background-stat: url('/Assets/Art/UI/Sprites/Shared/background-stat.png');
    --sprite-shared__background-stat-dark: url('/Assets/Art/UI/Sprites/Shared/background-stat-dark.png');
    --sprite-shared__highlight-leaderboard-localplayer: url('/Assets/Art/UI/Sprites/Shared/highlight-leaderboard-localplayer.png');
    --sprite-shared__icon-back: url('/Assets/Art/UI/Sprites/Shared/icon-back.png');
    --sprite-shared__icon-currency-blst: url('/Assets/Art/UI/Sprites/Shared/icon-currency-blst.png');
    --sprite-shared__icon-currency-bpp: url('/Assets/Art/UI/Sprites/Shared/icon-currency-bpp.png');
    --sprite-shared__icon-currency-coin: url('/Assets/Art/UI/Sprites/Shared/icon-currency-coin.png');
    --sprite-shared__icon-currency-cs: url('/Assets/Art/UI/Sprites/Shared/icon-currency-cs.png');
    --sprite-shared__icon-equipmentcategory-amulet: url('/Assets/Art/UI/Sprites/Shared/icon-equipmentcategory-amulet.png');
    --sprite-shared__icon-equipmentcategory-armor: url('/Assets/Art/UI/Sprites/Shared/icon-equipmentcategory-armor.png');
    --sprite-shared__icon-equipmentcategory-helmet: url('/Assets/Art/UI/Sprites/Shared/icon-equipmentcategory-helmet.png');
    --sprite-shared__icon-equipmentcategory-shield: url('/Assets/Art/UI/Sprites/Shared/icon-equipmentcategory-shield.png');
    --sprite-shared__icon-equipmentcategory-weapon: url('/Assets/Art/UI/Sprites/Shared/icon-equipmentcategory-weapon.png');
    --sprite-shared__icon-lowconnection: url('/Assets/Art/UI/Sprites/Shared/icon-lowconnection.png');
    --sprite-shared__icon-medal-1st: url('/Assets/Art/UI/Sprites/Shared/icon-medal-1st.png');
    --sprite-shared__icon-medal-2nd: url('/Assets/Art/UI/Sprites/Shared/icon-medal-2nd.png');
    --sprite-shared__icon-medal-3rd: url('/Assets/Art/UI/Sprites/Shared/icon-medal-3rd.png');
    --sprite-shared__icon-might: url('/Assets/Art/UI/Sprites/Shared/icon-might.png');
    --sprite-shared__icon-special-aimingairstrike: url('/Assets/Art/UI/Sprites/Shared/icon-special-aimingairstrike.png');
    --sprite-shared__icon-special-aiminggrenade: url('/Assets/Art/UI/Sprites/Shared/icon-special-aiminggrenade.png');
    --sprite-shared__icon-special-aimingstungrenade: url('/Assets/Art/UI/Sprites/Shared/icon-special-aimingstungrenade.png');
    --sprite-shared__icon-special-defaultdash: url('/Assets/Art/UI/Sprites/Shared/icon-special-defaultdash.png');
    --sprite-shared__icon-special-radar: url('/Assets/Art/UI/Sprites/Shared/icon-special-radar.png');
    --sprite-shared__icon-special-shieldedcharge: url('/Assets/Art/UI/Sprites/Shared/icon-special-shieldedcharge.png');
    --sprite-shared__icon-special-shieldself: url('/Assets/Art/UI/Sprites/Shared/icon-special-shieldself.png');
    --sprite-shared__icon-special-skylaserbeam: url('/Assets/Art/UI/Sprites/Shared/icon-special-skylaserbeam.png');
    --sprite-shared__icon-trophy: url('/Assets/Art/UI/Sprites/Shared/icon-trophy.png');
    --sprite-shared__logo-br: url('/Assets/Art/UI/Sprites/Shared/logo-br.png');
    --sprite-shared__progress-battlepass-bpp: url('/Assets/Art/UI/Sprites/Shared/progress-battlepass-bpp.png');
    --sprite-shared__progress-battlepass-bpp-bg: url('/Assets/Art/UI/Sprites/Shared/progress-battlepass-bpp-bg.png');
    --sprite-shared__progress-battlepass-bpp-rewards: url('/Assets/Art/UI/Sprites/Shared/progress-battlepass-bpp-rewards.png');
    --sprite-shared__progress-battlepass-bpp-yellow: url('/Assets/Art/UI/Sprites/Shared/progress-battlepass-bpp-yellow.png');
}

.sprite-shared__avatar-default {
    background-image: var(--sprite-shared__avatar-default);
    width: 108px;
    height: 108px;
}

.sprite-shared__background-currentplayer {
    background-image: var(--sprite-shared__background-currentplayer);
    width: 62px;
    height: 64px;
}

.sprite-shared__background-stat {
    background-image: var(--sprite-shared__background-stat);
    width: 48px;
    height: 52px;
}

.sprite-shared__background-stat-dark {
    background-image: var(--sprite-shared__background-stat-dark);
    width: 48px;
    height: 52px;
}

.sprite-shared__highlight-leaderboard-localplayer {
    background-image: var(--sprite-shared__highlight-leaderboard-localplayer);
    width: 1412px;
    height: 92px;
}

.sprite-shared__icon-back {
    background-image: var(--sprite-shared__icon-back);
    width: 63px;
    height: 75px;
}

.sprite-shared__icon-currency-blst {
    background-image: var(--sprite-shared__icon-currency-blst);
    width: 64px;
    height: 64px;
}

.sprite-shared__icon-currency-bpp {
    background-image: var(--sprite-shared__icon-currency-bpp);
    width: 59px;
    height: 64px;
}

.sprite-shared__icon-currency-coin {
    background-image: var(--sprite-shared__icon-currency-coin);
    width: 128px;
    height: 128px;
}

.sprite-shared__icon-currency-cs {
    background-image: var(--sprite-shared__icon-currency-cs);
    width: 64px;
    height: 64px;
}

.sprite-shared__icon-equipmentcategory-amulet {
    background-image: var(--sprite-shared__icon-equipmentcategory-amulet);
    width: 54px;
    height: 54px;
}

.sprite-shared__icon-equipmentcategory-armor {
    background-image: var(--sprite-shared__icon-equipmentcategory-armor);
    width: 54px;
    height: 54px;
}

.sprite-shared__icon-equipmentcategory-helmet {
    background-image: var(--sprite-shared__icon-equipmentcategory-helmet);
    width: 54px;
    height: 54px;
}

.sprite-shared__icon-equipmentcategory-shield {
    background-image: var(--sprite-shared__icon-equipmentcategory-shield);
    width: 54px;
    height: 54px;
}

.sprite-shared__icon-equipmentcategory-weapon {
    background-image: var(--sprite-shared__icon-equipmentcategory-weapon);
    width: 54px;
    height: 54px;
}

.sprite-shared__icon-lowconnection {
    background-image: var(--sprite-shared__icon-lowconnection);
    width: 98px;
    height: 72px;
}

.sprite-shared__icon-medal-1st {
    background-image: var(--sprite-shared__icon-medal-1st);
    width: 118px;
    height: 118px;
}

.sprite-shared__icon-medal-2nd {
    background-image: var(--sprite-shared__icon-medal-2nd);
    width: 118px;
    height: 118px;
}

.sprite-shared__icon-medal-3rd {
    background-image: var(--sprite-shared__icon-medal-3rd);
    width: 118px;
    height: 118px;
}

.sprite-shared__icon-might {
    background-image: var(--sprite-shared__icon-might);
    width: 70px;
    height: 82px;
}

.sprite-shared__icon-special-aimingairstrike {
    background-image: var(--sprite-shared__icon-special-aimingairstrike);
    width: 84px;
    height: 84px;
}

.sprite-shared__icon-special-aiminggrenade {
    background-image: var(--sprite-shared__icon-special-aiminggrenade);
    width: 84px;
    height: 84px;
}

.sprite-shared__icon-special-aimingstungrenade {
    background-image: var(--sprite-shared__icon-special-aimingstungrenade);
    width: 84px;
    height: 84px;
}

.sprite-shared__icon-special-defaultdash {
    background-image: var(--sprite-shared__icon-special-defaultdash);
    width: 84px;
    height: 84px;
}

.sprite-shared__icon-special-radar {
    background-image: var(--sprite-shared__icon-special-radar);
    width: 84px;
    height: 84px;
}

.sprite-shared__icon-special-shieldedcharge {
    background-image: var(--sprite-shared__icon-special-shieldedcharge);
    width: 84px;
    height: 84px;
}

.sprite-shared__icon-special-shieldself {
    background-image: var(--sprite-shared__icon-special-shieldself);
    width: 84px;
    height: 84px;
}

.sprite-shared__icon-special-skylaserbeam {
    background-image: var(--sprite-shared__icon-special-skylaserbeam);
    width: 84px;
    height: 84px;
}

.sprite-shared__icon-trophy {
    background-image: var(--sprite-shared__icon-trophy);
    width: 44px;
    height: 44px;
}

.sprite-shared__logo-br {
    background-image: var(--sprite-shared__logo-br);
    width: 211px;
    height: 181px;
}

.sprite-shared__progress-battlepass-bpp {
    background-image: var(--sprite-shared__progress-battlepass-bpp);
    width: 58px;
    height: 40px;
}

.sprite-shared__progress-battlepass-bpp-bg {
    background-image: var(--sprite-shared__progress-battlepass-bpp-bg);
    width: 64px;
    height: 48px;
}

.sprite-shared__progress-battlepass-bpp-rewards {
    background-image: var(--sprite-shared__progress-battlepass-bpp-rewards);
    width: 58px;
    height: 44px;
}

.sprite-shared__progress-battlepass-bpp-yellow {
    background-image: var(--sprite-shared__progress-battlepass-bpp-yellow);
    width: 58px;
    height: 44px;
}

