/* AUTO GENERATED */
:root {
    --sprite-match__background-gradient-blue: url('/Assets/Art/UI/Sprites/Match/background-gradient-blue.png');
    --sprite-match__banner-rainbow: url('/Assets/Art/UI/Sprites/Match/banner-rainbow.png');
    --sprite-match__banner-red: url('/Assets/Art/UI/Sprites/Match/banner-red.png');
    --sprite-match__banner-winner: url('/Assets/Art/UI/Sprites/Match/banner-winner.png');
    --sprite-match__button-next: url('/Assets/Art/UI/Sprites/Match/button-next.png');
    --sprite-match__button-next-pressed: url('/Assets/Art/UI/Sprites/Match/button-next-pressed.png');
    --sprite-match__icon-arrow-yellow-left: url('/Assets/Art/UI/Sprites/Match/icon-arrow-yellow-left.png');
    --sprite-match__icon-arrow-yellow-right: url('/Assets/Art/UI/Sprites/Match/icon-arrow-yellow-right.png');
    --sprite-match__icon-crown-winner: url('/Assets/Art/UI/Sprites/Match/icon-crown-winner.png');
    --sprite-match__icon-hide: url('/Assets/Art/UI/Sprites/Match/icon-hide.png');
    --sprite-match__icon-medal-1st: url('/Assets/Art/UI/Sprites/Match/icon-medal-1st.png');
    --sprite-match__icon-medal-2nd: url('/Assets/Art/UI/Sprites/Match/icon-medal-2nd.png');
    --sprite-match__icon-medal-3rd: url('/Assets/Art/UI/Sprites/Match/icon-medal-3rd.png');
    --sprite-match__icon-show: url('/Assets/Art/UI/Sprites/Match/icon-show.png');
    --sprite-match__pattern-jagged-vertical: url('/Assets/Art/UI/Sprites/Match/pattern-jagged-vertical.png');
    --sprite-match__text-blasted: url('/Assets/Art/UI/Sprites/Match/text-blasted.png');
    --sprite-match__text-matchended: url('/Assets/Art/UI/Sprites/Match/text-matchended.png');
    --sprite-match__text-youchosedeath: url('/Assets/Art/UI/Sprites/Match/text-youchosedeath.png');
    --sprite-match__text-youwon: url('/Assets/Art/UI/Sprites/Match/text-youwon.png');
    --sprite-match__vfx-crack-red: url('/Assets/Art/UI/Sprites/Match/vfx-crack-red.png');
}

.sprite-match__background-gradient-blue {
    background-image: var(--sprite-match__background-gradient-blue)
}

.sprite-match__banner-rainbow {
    background-image: var(--sprite-match__banner-rainbow)
}

.sprite-match__banner-red {
    background-image: var(--sprite-match__banner-red)
}

.sprite-match__banner-winner {
    background-image: var(--sprite-match__banner-winner)
}

.sprite-match__button-next {
    background-image: var(--sprite-match__button-next)
}

.sprite-match__button-next:active {
    background-image: var(--sprite-match__button-next-pressed)
}

.sprite-match__icon-arrow-yellow-left {
    background-image: var(--sprite-match__icon-arrow-yellow-left)
}

.sprite-match__icon-arrow-yellow-right {
    background-image: var(--sprite-match__icon-arrow-yellow-right)
}

.sprite-match__icon-crown-winner {
    background-image: var(--sprite-match__icon-crown-winner)
}

.sprite-match__icon-hide {
    background-image: var(--sprite-match__icon-hide)
}

.sprite-match__icon-medal-1st {
    background-image: var(--sprite-match__icon-medal-1st)
}

.sprite-match__icon-medal-2nd {
    background-image: var(--sprite-match__icon-medal-2nd)
}

.sprite-match__icon-medal-3rd {
    background-image: var(--sprite-match__icon-medal-3rd)
}

.sprite-match__icon-show {
    background-image: var(--sprite-match__icon-show)
}

.sprite-match__pattern-jagged-vertical {
    background-image: var(--sprite-match__pattern-jagged-vertical)
}

.sprite-match__text-blasted {
    background-image: var(--sprite-match__text-blasted)
}

.sprite-match__text-matchended {
    background-image: var(--sprite-match__text-matchended)
}

.sprite-match__text-youchosedeath {
    background-image: var(--sprite-match__text-youchosedeath)
}

.sprite-match__text-youwon {
    background-image: var(--sprite-match__text-youwon)
}

.sprite-match__vfx-crack-red {
    background-image: var(--sprite-match__vfx-crack-red)
}

