/* AUTO GENERATED */
:root {
    --sprite-shared__icon-lowconnection: url('/Assets/Art/UI/Sprites/Shared/icon-lowconnection.png');
    --sprite-shared__icon-might: url('/Assets/Art/UI/Sprites/Shared/icon-might.png');
    --sprite-shared__logo-br: url('/Assets/Art/UI/Sprites/Shared/logo-br.png');
}

.sprite-shared__icon-lowconnection {
    background-image: var(--sprite-shared__icon-lowconnection)
}

.sprite-shared__icon-might {
    background-image: var(--sprite-shared__icon-might)
}

.sprite-shared__logo-br {
    background-image: var(--sprite-shared__logo-br)
}

