/* AUTO GENERATED */
:root {
    --sprite-match__button-next: url('/Assets/Art/UI/Sprites2/Match/button-next.png');
    --sprite-match__button-next-pressed: url('/Assets/Art/UI/Sprites2/Match/button-next-pressed.png');
}

.sprite-match__button-next {
    background-image: var(--sprite-match__button-next)
}

.sprite-match__button-next:active {
    background-image: var(--sprite-match__button-next-pressed)
}

