/* AUTO GENERATED */
:root {
    --sprite-equipmentcard__card-background: url('/Assets/Art/UI/Sprites/Equipment Card/card-background.png');
    --sprite-equipmentcard__card-background-pressed: url('/Assets/Art/UI/Sprites/Equipment Card/card-background-pressed.png');
    --sprite-equipmentcard__card-badge-nft: url('/Assets/Art/UI/Sprites/Equipment Card/card-badge-nft.png');
    --sprite-equipmentcard__card-category-amulet: url('/Assets/Art/UI/Sprites/Equipment Card/card-category-amulet.png');
    --sprite-equipmentcard__card-category-armor: url('/Assets/Art/UI/Sprites/Equipment Card/card-category-armor.png');
    --sprite-equipmentcard__card-category-helmet: url('/Assets/Art/UI/Sprites/Equipment Card/card-category-helmet.png');
    --sprite-equipmentcard__card-category-shield: url('/Assets/Art/UI/Sprites/Equipment Card/card-category-shield.png');
    --sprite-equipmentcard__card-category-weapon: url('/Assets/Art/UI/Sprites/Equipment Card/card-category-weapon.png');
    --sprite-equipmentcard__card-faction-celestial: url('/Assets/Art/UI/Sprites/Equipment Card/card-faction-celestial.png');
    --sprite-equipmentcard__card-faction-chaos: url('/Assets/Art/UI/Sprites/Equipment Card/card-faction-chaos.png');
    --sprite-equipmentcard__card-faction-dark: url('/Assets/Art/UI/Sprites/Equipment Card/card-faction-dark.png');
    --sprite-equipmentcard__card-faction-dimensional: url('/Assets/Art/UI/Sprites/Equipment Card/card-faction-dimensional.png');
    --sprite-equipmentcard__card-faction-order: url('/Assets/Art/UI/Sprites/Equipment Card/card-faction-order.png');
    --sprite-equipmentcard__card-faction-organic: url('/Assets/Art/UI/Sprites/Equipment Card/card-faction-organic.png');
    --sprite-equipmentcard__card-faction-shadow: url('/Assets/Art/UI/Sprites/Equipment Card/card-faction-shadow.png');
    --sprite-equipmentcard__card-levelbg: url('/Assets/Art/UI/Sprites/Equipment Card/card-levelbg.png');
    --sprite-equipmentcard__card-material-bronze: url('/Assets/Art/UI/Sprites/Equipment Card/card-material-bronze.png');
    --sprite-equipmentcard__card-material-carbon: url('/Assets/Art/UI/Sprites/Equipment Card/card-material-carbon.png');
    --sprite-equipmentcard__card-material-golden: url('/Assets/Art/UI/Sprites/Equipment Card/card-material-golden.png');
    --sprite-equipmentcard__card-material-plastic: url('/Assets/Art/UI/Sprites/Equipment Card/card-material-plastic.png');
    --sprite-equipmentcard__card-material-steel: url('/Assets/Art/UI/Sprites/Equipment Card/card-material-steel.png');
    --sprite-equipmentcard__card-plusrarity: url('/Assets/Art/UI/Sprites/Equipment Card/card-plusrarity.png');
    --sprite-equipmentcard__card-rarity-common: url('/Assets/Art/UI/Sprites/Equipment Card/card-rarity-common.png');
    --sprite-equipmentcard__card-rarity-epic: url('/Assets/Art/UI/Sprites/Equipment Card/card-rarity-epic.png');
    --sprite-equipmentcard__card-rarity-legendary: url('/Assets/Art/UI/Sprites/Equipment Card/card-rarity-legendary.png');
    --sprite-equipmentcard__card-rarity-rare: url('/Assets/Art/UI/Sprites/Equipment Card/card-rarity-rare.png');
    --sprite-equipmentcard__card-rarity-uncommon: url('/Assets/Art/UI/Sprites/Equipment Card/card-rarity-uncommon.png');
}

.sprite-equipmentcard__card-background {
    background-image: var(--sprite-equipmentcard__card-background);
    width: 500px;
    height: 532px;
}

.sprite-equipmentcard__card-background:active {
    background-image: var(--sprite-equipmentcard__card-background-pressed);
}

.sprite-equipmentcard__card-badge-nft {
    background-image: var(--sprite-equipmentcard__card-badge-nft);
    width: 110px;
    height: 48px;
}

.sprite-equipmentcard__card-category-amulet {
    background-image: var(--sprite-equipmentcard__card-category-amulet);
    width: 50px;
    height: 50px;
}

.sprite-equipmentcard__card-category-armor {
    background-image: var(--sprite-equipmentcard__card-category-armor);
    width: 50px;
    height: 50px;
}

.sprite-equipmentcard__card-category-helmet {
    background-image: var(--sprite-equipmentcard__card-category-helmet);
    width: 50px;
    height: 50px;
}

.sprite-equipmentcard__card-category-shield {
    background-image: var(--sprite-equipmentcard__card-category-shield);
    width: 50px;
    height: 50px;
}

.sprite-equipmentcard__card-category-weapon {
    background-image: var(--sprite-equipmentcard__card-category-weapon);
    width: 50px;
    height: 50px;
}

.sprite-equipmentcard__card-faction-celestial {
    background-image: var(--sprite-equipmentcard__card-faction-celestial);
    width: 92px;
    height: 92px;
}

.sprite-equipmentcard__card-faction-chaos {
    background-image: var(--sprite-equipmentcard__card-faction-chaos);
    width: 92px;
    height: 92px;
}

.sprite-equipmentcard__card-faction-dark {
    background-image: var(--sprite-equipmentcard__card-faction-dark);
    width: 92px;
    height: 92px;
}

.sprite-equipmentcard__card-faction-dimensional {
    background-image: var(--sprite-equipmentcard__card-faction-dimensional);
    width: 92px;
    height: 92px;
}

.sprite-equipmentcard__card-faction-order {
    background-image: var(--sprite-equipmentcard__card-faction-order);
    width: 92px;
    height: 92px;
}

.sprite-equipmentcard__card-faction-organic {
    background-image: var(--sprite-equipmentcard__card-faction-organic);
    width: 92px;
    height: 92px;
}

.sprite-equipmentcard__card-faction-shadow {
    background-image: var(--sprite-equipmentcard__card-faction-shadow);
    width: 92px;
    height: 92px;
}

.sprite-equipmentcard__card-levelbg {
    background-image: var(--sprite-equipmentcard__card-levelbg);
    width: 121px;
    height: 61px;
}

.sprite-equipmentcard__card-material-bronze {
    background-image: var(--sprite-equipmentcard__card-material-bronze);
    width: 74px;
    height: 74px;
}

.sprite-equipmentcard__card-material-carbon {
    background-image: var(--sprite-equipmentcard__card-material-carbon);
    width: 74px;
    height: 74px;
}

.sprite-equipmentcard__card-material-golden {
    background-image: var(--sprite-equipmentcard__card-material-golden);
    width: 74px;
    height: 74px;
}

.sprite-equipmentcard__card-material-plastic {
    background-image: var(--sprite-equipmentcard__card-material-plastic);
    width: 74px;
    height: 74px;
}

.sprite-equipmentcard__card-material-steel {
    background-image: var(--sprite-equipmentcard__card-material-steel);
    width: 74px;
    height: 74px;
}

.sprite-equipmentcard__card-plusrarity {
    background-image: var(--sprite-equipmentcard__card-plusrarity);
    width: 400px;
    height: 296px;
}

.sprite-equipmentcard__card-rarity-common {
    background-image: var(--sprite-equipmentcard__card-rarity-common);
    width: 478px;
    height: 385px;
}

.sprite-equipmentcard__card-rarity-epic {
    background-image: var(--sprite-equipmentcard__card-rarity-epic);
    width: 478px;
    height: 385px;
}

.sprite-equipmentcard__card-rarity-legendary {
    background-image: var(--sprite-equipmentcard__card-rarity-legendary);
    width: 478px;
    height: 385px;
}

.sprite-equipmentcard__card-rarity-rare {
    background-image: var(--sprite-equipmentcard__card-rarity-rare);
    width: 478px;
    height: 385px;
}

.sprite-equipmentcard__card-rarity-uncommon {
    background-image: var(--sprite-equipmentcard__card-rarity-uncommon);
    width: 478px;
    height: 385px;
}

