/* AUTO GENERATED */
:root {
    --sprite-home__background-bpreward-outline: url('/Assets/Art/UI/Sprites/Home/background-bpreward-outline.png');
    --sprite-home__background-gamemode-battleroyale: url('/Assets/Art/UI/Sprites/Home/background-gamemode-battleroyale.png');
    --sprite-home__background-gamemode-battleroyale-top: url('/Assets/Art/UI/Sprites/Home/background-gamemode-battleroyale-top.png');
    --sprite-home__background-gamemode-custom: url('/Assets/Art/UI/Sprites/Home/background-gamemode-custom.png');
    --sprite-home__background-gamemode-deathmatch: url('/Assets/Art/UI/Sprites/Home/background-gamemode-deathmatch.png');
    --sprite-home__background-gamemode-deathmatch-top: url('/Assets/Art/UI/Sprites/Home/background-gamemode-deathmatch-top.png');
    --sprite-home__background-inputfield: url('/Assets/Art/UI/Sprites/Home/background-inputfield.png');
    --sprite-home__background-modeselection-casual: url('/Assets/Art/UI/Sprites/Home/background-modeselection-casual.png');
    --sprite-home__background-modeselection-comingsoon: url('/Assets/Art/UI/Sprites/Home/background-modeselection-comingsoon.png');
    --sprite-home__background-modeselection-custom: url('/Assets/Art/UI/Sprites/Home/background-modeselection-custom.png');
    --sprite-home__background-modeselection-ranked: url('/Assets/Art/UI/Sprites/Home/background-modeselection-ranked.png');
    --sprite-home__background-modetag-casual: url('/Assets/Art/UI/Sprites/Home/background-modetag-casual.png');
    --sprite-home__background-modetag-ranked: url('/Assets/Art/UI/Sprites/Home/background-modetag-ranked.png');
    --sprite-home__background-popup-equipment: url('/Assets/Art/UI/Sprites/Home/background-popup-equipment.png');
    --sprite-home__background-resourcepool: url('/Assets/Art/UI/Sprites/Home/background-resourcepool.png');
    --sprite-home__background-textbubble-yellow: url('/Assets/Art/UI/Sprites/Home/background-textbubble-yellow.png');
    --sprite-home__background-tooltip-bottomleft: url('/Assets/Art/UI/Sprites/Home/background-tooltip-bottomleft.png');
    --sprite-home__background-tooltip-bottomright: url('/Assets/Art/UI/Sprites/Home/background-tooltip-bottomright.png');
    --sprite-home__background-tooltip-topleft: url('/Assets/Art/UI/Sprites/Home/background-tooltip-topleft.png');
    --sprite-home__background-tooltip-topright: url('/Assets/Art/UI/Sprites/Home/background-tooltip-topright.png');
    --sprite-home__banner-mapselection: url('/Assets/Art/UI/Sprites/Home/banner-mapselection.png');
    --sprite-home__button-battlepass: url('/Assets/Art/UI/Sprites/Home/button-battlepass.png');
    --sprite-home__button-battlepass-claimreward: url('/Assets/Art/UI/Sprites/Home/button-battlepass-claimreward.png');
    --sprite-home__button-battlepass-claimreward-pressed: url('/Assets/Art/UI/Sprites/Home/button-battlepass-claimreward-pressed.png');
    --sprite-home__button-battlepass-pressed: url('/Assets/Art/UI/Sprites/Home/button-battlepass-pressed.png');
    --sprite-home__button-bpreward: url('/Assets/Art/UI/Sprites/Home/button-bpreward.png');
    --sprite-home__button-bpreward-outline: url('/Assets/Art/UI/Sprites/Home/button-bpreward-outline.png');
    --sprite-home__button-bpreward-pressed: url('/Assets/Art/UI/Sprites/Home/button-bpreward-pressed.png');
    --sprite-home__button-equipmentslot-common: url('/Assets/Art/UI/Sprites/Home/button-equipmentslot-common.png');
    --sprite-home__button-equipmentslot-common-pressed: url('/Assets/Art/UI/Sprites/Home/button-equipmentslot-common-pressed.png');
    --sprite-home__button-equipmentslot-empty: url('/Assets/Art/UI/Sprites/Home/button-equipmentslot-empty.png');
    --sprite-home__button-equipmentslot-empty-pressed: url('/Assets/Art/UI/Sprites/Home/button-equipmentslot-empty-pressed.png');
    --sprite-home__button-equipmentslot-epic: url('/Assets/Art/UI/Sprites/Home/button-equipmentslot-epic.png');
    --sprite-home__button-equipmentslot-epic-pressed: url('/Assets/Art/UI/Sprites/Home/button-equipmentslot-epic-pressed.png');
    --sprite-home__button-equipmentslot-legendary: url('/Assets/Art/UI/Sprites/Home/button-equipmentslot-legendary.png');
    --sprite-home__button-equipmentslot-legendary-pressed: url('/Assets/Art/UI/Sprites/Home/button-equipmentslot-legendary-pressed.png');
    --sprite-home__button-equipmentslot-rare: url('/Assets/Art/UI/Sprites/Home/button-equipmentslot-rare.png');
    --sprite-home__button-equipmentslot-rare-pressed: url('/Assets/Art/UI/Sprites/Home/button-equipmentslot-rare-pressed.png');
    --sprite-home__button-equipmentslot-uncommon: url('/Assets/Art/UI/Sprites/Home/button-equipmentslot-uncommon.png');
    --sprite-home__button-equipmentslot-uncommon-pressed: url('/Assets/Art/UI/Sprites/Home/button-equipmentslot-uncommon-pressed.png');
    --sprite-home__button-gamemode: url('/Assets/Art/UI/Sprites/Home/button-gamemode.png');
    --sprite-home__button-gamemode-pressed: url('/Assets/Art/UI/Sprites/Home/button-gamemode-pressed.png');
    --sprite-home__button-gamemodeselection: url('/Assets/Art/UI/Sprites/Home/button-gamemodeselection.png');
    --sprite-home__button-grey: url('/Assets/Art/UI/Sprites/Home/button-grey.png');
    --sprite-home__button-info: url('/Assets/Art/UI/Sprites/Home/button-info.png');
    --sprite-home__button-info-pressed: url('/Assets/Art/UI/Sprites/Home/button-info-pressed.png');
    --sprite-home__button-long-purple: url('/Assets/Art/UI/Sprites/Home/button-long-purple.png');
    --sprite-home__button-long-purple-pressed: url('/Assets/Art/UI/Sprites/Home/button-long-purple-pressed.png');
    --sprite-home__button-long-red: url('/Assets/Art/UI/Sprites/Home/button-long-red.png');
    --sprite-home__button-long-red-pressed: url('/Assets/Art/UI/Sprites/Home/button-long-red-pressed.png');
    --sprite-home__button-long-yellow: url('/Assets/Art/UI/Sprites/Home/button-long-yellow.png');
    --sprite-home__button-long-yellow-pressed: url('/Assets/Art/UI/Sprites/Home/button-long-yellow-pressed.png');
    --sprite-home__button-main-purple: url('/Assets/Art/UI/Sprites/Home/button-main-purple.png');
    --sprite-home__button-main-purple-pressed: url('/Assets/Art/UI/Sprites/Home/button-main-purple-pressed.png');
    --sprite-home__button-main-yellow: url('/Assets/Art/UI/Sprites/Home/button-main-yellow.png');
    --sprite-home__button-main-yellow-pressed: url('/Assets/Art/UI/Sprites/Home/button-main-yellow-pressed.png');
    --sprite-home__button-play: url('/Assets/Art/UI/Sprites/Home/button-play.png');
    --sprite-home__button-play-pressed: url('/Assets/Art/UI/Sprites/Home/button-play-pressed.png');
    --sprite-home__button-play-disabled: url('/Assets/Art/UI/Sprites/Home/button-play-disabled.png');
    --sprite-home__button-play-ready: url('/Assets/Art/UI/Sprites/Home/button-play-ready.png');
    --sprite-home__button-play-ready-pressed: url('/Assets/Art/UI/Sprites/Home/button-play-ready-pressed.png');
    --sprite-home__button-popup-equipment-close: url('/Assets/Art/UI/Sprites/Home/button-popup-equipment-close.png');
    --sprite-home__button-popup-equipment-close-pressed: url('/Assets/Art/UI/Sprites/Home/button-popup-equipment-close-pressed.png');
    --sprite-home__button-special: url('/Assets/Art/UI/Sprites/Home/button-special.png');
    --sprite-home__card-selected: url('/Assets/Art/UI/Sprites/Home/card-selected.png');
    --sprite-home__card-shadow-pink: url('/Assets/Art/UI/Sprites/Home/card-shadow-pink.png');
    --sprite-home__header-back: url('/Assets/Art/UI/Sprites/Home/header-back.png');
    --sprite-home__header-background: url('/Assets/Art/UI/Sprites/Home/header-background.png');
    --sprite-home__header-back-pressed: url('/Assets/Art/UI/Sprites/Home/header-back-pressed.png');
    --sprite-home__header-home: url('/Assets/Art/UI/Sprites/Home/header-home.png');
    --sprite-home__header-home-pressed: url('/Assets/Art/UI/Sprites/Home/header-home-pressed.png');
    --sprite-home__header-popup-equipment: url('/Assets/Art/UI/Sprites/Home/header-popup-equipment.png');
    --sprite-home__header-profile: url('/Assets/Art/UI/Sprites/Home/header-profile.png');
    --sprite-home__header-profile-pressed: url('/Assets/Art/UI/Sprites/Home/header-profile-pressed.png');
    --sprite-home__icon-airplane: url('/Assets/Art/UI/Sprites/Home/icon-airplane.png');
    --sprite-home__icon-arrow-level: url('/Assets/Art/UI/Sprites/Home/icon-arrow-level.png');
    --sprite-home__icon-arrow-upgrade: url('/Assets/Art/UI/Sprites/Home/icon-arrow-upgrade.png');
    --sprite-home__icon-battlepass-crown: url('/Assets/Art/UI/Sprites/Home/icon-battlepass-crown.png');
    --sprite-home__icon-checkmark: url('/Assets/Art/UI/Sprites/Home/icon-checkmark.png');
    --sprite-home__icon-close: url('/Assets/Art/UI/Sprites/Home/icon-close.png');
    --sprite-home__icon-close-white: url('/Assets/Art/UI/Sprites/Home/icon-close-white.png');
    --sprite-home__icon-cooldown-cs: url('/Assets/Art/UI/Sprites/Home/icon-cooldown-cs.png');
    --sprite-home__icon-core-epic: url('/Assets/Art/UI/Sprites/Home/icon-core-epic.png');
    --sprite-home__icon-core-legendary: url('/Assets/Art/UI/Sprites/Home/icon-core-legendary.png');
    --sprite-home__icon-core-rare: url('/Assets/Art/UI/Sprites/Home/icon-core-rare.png');
    --sprite-home__icon-crown-ranked: url('/Assets/Art/UI/Sprites/Home/icon-crown-ranked.png');
    --sprite-home__icon-customgame: url('/Assets/Art/UI/Sprites/Home/icon-customgame.png');
    --sprite-home__icon-discord: url('/Assets/Art/UI/Sprites/Home/icon-discord.png');
    --sprite-home__icon-durability: url('/Assets/Art/UI/Sprites/Home/icon-durability.png');
    --sprite-home__icon-emptyslot-amulet: url('/Assets/Art/UI/Sprites/Home/icon-emptyslot-amulet.png');
    --sprite-home__icon-emptyslot-armor: url('/Assets/Art/UI/Sprites/Home/icon-emptyslot-armor.png');
    --sprite-home__icon-emptyslot-helmet: url('/Assets/Art/UI/Sprites/Home/icon-emptyslot-helmet.png');
    --sprite-home__icon-emptyslot-shield: url('/Assets/Art/UI/Sprites/Home/icon-emptyslot-shield.png');
    --sprite-home__icon-emptyslot-weapon: url('/Assets/Art/UI/Sprites/Home/icon-emptyslot-weapon.png');
    --sprite-home__icon-equipment: url('/Assets/Art/UI/Sprites/Home/icon-equipment.png');
    --sprite-home__icon-equipmentcategory-amulet: url('/Assets/Art/UI/Sprites/Home/icon-equipmentcategory-amulet.png');
    --sprite-home__icon-equipmentcategory-armor: url('/Assets/Art/UI/Sprites/Home/icon-equipmentcategory-armor.png');
    --sprite-home__icon-equipmentcategory-helmet: url('/Assets/Art/UI/Sprites/Home/icon-equipmentcategory-helmet.png');
    --sprite-home__icon-equipmentcategory-shield: url('/Assets/Art/UI/Sprites/Home/icon-equipmentcategory-shield.png');
    --sprite-home__icon-equipmentcategory-weapon: url('/Assets/Art/UI/Sprites/Home/icon-equipmentcategory-weapon.png');
    --sprite-home__icon-gamemode-battleroyale: url('/Assets/Art/UI/Sprites/Home/icon-gamemode-battleroyale.png');
    --sprite-home__icon-gamemode-custom: url('/Assets/Art/UI/Sprites/Home/icon-gamemode-custom.png');
    --sprite-home__icon-gamemode-deathmatch: url('/Assets/Art/UI/Sprites/Home/icon-gamemode-deathmatch.png');
    --sprite-home__icon-heroes: url('/Assets/Art/UI/Sprites/Home/icon-heroes.png');
    --sprite-home__icon-hide-purple: url('/Assets/Art/UI/Sprites/Home/icon-hide-purple.png');
    --sprite-home__icon-leaderboards: url('/Assets/Art/UI/Sprites/Home/icon-leaderboards.png');
    --sprite-home__icon-mapmarker: url('/Assets/Art/UI/Sprites/Home/icon-mapmarker.png');
    --sprite-home__icon-marketplace: url('/Assets/Art/UI/Sprites/Home/icon-marketplace.png');
    --sprite-home__icon-mutator-healthyair: url('/Assets/Art/UI/Sprites/Home/icon-mutator-healthyair.png');
    --sprite-home__icon-mutator-quickspecials: url('/Assets/Art/UI/Sprites/Home/icon-mutator-quickspecials.png');
    --sprite-home__icon-mutator-speedup: url('/Assets/Art/UI/Sprites/Home/icon-mutator-speedup.png');
    --sprite-home__icon-notification: url('/Assets/Art/UI/Sprites/Home/icon-notification.png');
    --sprite-home__icon-player-blue: url('/Assets/Art/UI/Sprites/Home/icon-player-blue.png');
    --sprite-home__icon-questionmark: url('/Assets/Art/UI/Sprites/Home/icon-questionmark.png');
    --sprite-home__icon-settings: url('/Assets/Art/UI/Sprites/Home/icon-settings.png');
    --sprite-home__icon-shop: url('/Assets/Art/UI/Sprites/Home/icon-shop.png');
    --sprite-home__icon-show-purple: url('/Assets/Art/UI/Sprites/Home/icon-show-purple.png');
    --sprite-home__icon-special-aimingairstrike: url('/Assets/Art/UI/Sprites/Home/icon-special-aimingairstrike.png');
    --sprite-home__icon-special-aiminggrenade: url('/Assets/Art/UI/Sprites/Home/icon-special-aiminggrenade.png');
    --sprite-home__icon-special-aimingstungrenade: url('/Assets/Art/UI/Sprites/Home/icon-special-aimingstungrenade.png');
    --sprite-home__icon-special-defaultdash: url('/Assets/Art/UI/Sprites/Home/icon-special-defaultdash.png');
    --sprite-home__icon-special-radar: url('/Assets/Art/UI/Sprites/Home/icon-special-radar.png');
    --sprite-home__icon-special-shieldedcharge: url('/Assets/Art/UI/Sprites/Home/icon-special-shieldedcharge.png');
    --sprite-home__icon-special-shieldself: url('/Assets/Art/UI/Sprites/Home/icon-special-shieldself.png');
    --sprite-home__icon-special-skylaserbeam: url('/Assets/Art/UI/Sprites/Home/icon-special-skylaserbeam.png');
    --sprite-home__icon-spinner-thick: url('/Assets/Art/UI/Sprites/Home/icon-spinner-thick.png');
    --sprite-home__logo-blasthub: url('/Assets/Art/UI/Sprites/Home/logo-blasthub.png');
    --sprite-home__pattern-circle-gradient: url('/Assets/Art/UI/Sprites/Home/pattern-circle-gradient.png');
    --sprite-home__pattern-dots-gradient: url('/Assets/Art/UI/Sprites/Home/pattern-dots-gradient.png');
    --sprite-home__pattern-dots-rotated: url('/Assets/Art/UI/Sprites/Home/pattern-dots-rotated.png');
    --sprite-home__pattern-glow-chosengamemode: url('/Assets/Art/UI/Sprites/Home/pattern-glow-chosengamemode.png');
    --sprite-home__pattern-glow-crownlight: url('/Assets/Art/UI/Sprites/Home/pattern-glow-crownlight.png');
    --sprite-home__pattern-jagged-horizontal: url('/Assets/Art/UI/Sprites/Home/pattern-jagged-horizontal.png');
    --sprite-home__pattern-rewardglow-common: url('/Assets/Art/UI/Sprites/Home/pattern-rewardglow-common.png');
    --sprite-home__pattern-rewardglow-epic: url('/Assets/Art/UI/Sprites/Home/pattern-rewardglow-epic.png');
    --sprite-home__pattern-rewardglow-legendary: url('/Assets/Art/UI/Sprites/Home/pattern-rewardglow-legendary.png');
    --sprite-home__pattern-rewardglow-rainbow: url('/Assets/Art/UI/Sprites/Home/pattern-rewardglow-rainbow.png');
    --sprite-home__pattern-rewardglow-rare: url('/Assets/Art/UI/Sprites/Home/pattern-rewardglow-rare.png');
    --sprite-home__pattern-rewardglow-uncommon: url('/Assets/Art/UI/Sprites/Home/pattern-rewardglow-uncommon.png');
    --sprite-home__progress-battlepass: url('/Assets/Art/UI/Sprites/Home/progress-battlepass.png');
    --sprite-home__progress-battlepass-bg: url('/Assets/Art/UI/Sprites/Home/progress-battlepass-bg.png');
    --sprite-home__progress-battlepassbtn: url('/Assets/Art/UI/Sprites/Home/progress-battlepassbtn.png');
    --sprite-home__progress-battlepassbtn-bg: url('/Assets/Art/UI/Sprites/Home/progress-battlepassbtn-bg.png');
    --sprite-home__progress-durability: url('/Assets/Art/UI/Sprites/Home/progress-durability.png');
    --sprite-home__progress-durability-bg: url('/Assets/Art/UI/Sprites/Home/progress-durability-bg.png');
    --sprite-home__progress-durabilityupgrade: url('/Assets/Art/UI/Sprites/Home/progress-durabilityupgrade.png');
    --sprite-home__progress-stat-bg: url('/Assets/Art/UI/Sprites/Home/progress-stat-bg.png');
    --sprite-home__progress-stats: url('/Assets/Art/UI/Sprites/Home/progress-stats.png');
    --sprite-home__text-blast: url('/Assets/Art/UI/Sprites/Home/text-blast.png');
    --sprite-home__text-royale: url('/Assets/Art/UI/Sprites/Home/text-royale.png');
    --sprite-home__vfx-glitch-triangle1: url('/Assets/Art/UI/Sprites/Home/vfx-glitch-triangle1.png');
    --sprite-home__vfx-glitch-triangle2: url('/Assets/Art/UI/Sprites/Home/vfx-glitch-triangle2.png');
}

.sprite-home__background-bpreward-outline {
    background-image: var(--sprite-home__background-bpreward-outline);
}

.sprite-home__background-gamemode-battleroyale {
    background-image: var(--sprite-home__background-gamemode-battleroyale);
}

.sprite-home__background-gamemode-battleroyale-top {
    background-image: var(--sprite-home__background-gamemode-battleroyale-top);
}

.sprite-home__background-gamemode-custom {
    background-image: var(--sprite-home__background-gamemode-custom);
}

.sprite-home__background-gamemode-deathmatch {
    background-image: var(--sprite-home__background-gamemode-deathmatch);
}

.sprite-home__background-gamemode-deathmatch-top {
    background-image: var(--sprite-home__background-gamemode-deathmatch-top);
}

.sprite-home__background-inputfield {
    background-image: var(--sprite-home__background-inputfield);
}

.sprite-home__background-modeselection-casual {
    background-image: var(--sprite-home__background-modeselection-casual);
}

.sprite-home__background-modeselection-comingsoon {
    background-image: var(--sprite-home__background-modeselection-comingsoon);
}

.sprite-home__background-modeselection-custom {
    background-image: var(--sprite-home__background-modeselection-custom);
}

.sprite-home__background-modeselection-ranked {
    background-image: var(--sprite-home__background-modeselection-ranked);
}

.sprite-home__background-modetag-casual {
    background-image: var(--sprite-home__background-modetag-casual);
}

.sprite-home__background-modetag-ranked {
    background-image: var(--sprite-home__background-modetag-ranked);
}

.sprite-home__background-popup-equipment {
    background-image: var(--sprite-home__background-popup-equipment);
}

.sprite-home__background-resourcepool {
    background-image: var(--sprite-home__background-resourcepool);
}

.sprite-home__background-textbubble-yellow {
    background-image: var(--sprite-home__background-textbubble-yellow);
}

.sprite-home__background-tooltip-bottomleft {
    background-image: var(--sprite-home__background-tooltip-bottomleft);
}

.sprite-home__background-tooltip-bottomright {
    background-image: var(--sprite-home__background-tooltip-bottomright);
}

.sprite-home__background-tooltip-topleft {
    background-image: var(--sprite-home__background-tooltip-topleft);
}

.sprite-home__background-tooltip-topright {
    background-image: var(--sprite-home__background-tooltip-topright);
}

.sprite-home__banner-mapselection {
    background-image: var(--sprite-home__banner-mapselection);
}

.sprite-home__button-battlepass {
    background-image: var(--sprite-home__button-battlepass);
}

.sprite-home__button-battlepass-claimreward {
    background-image: var(--sprite-home__button-battlepass-claimreward);
}

.sprite-home__button-battlepass-claimreward:active {
    background-image: var(--sprite-home__button-battlepass-claimreward-pressed);
}

.sprite-home__button-battlepass:active {
    background-image: var(--sprite-home__button-battlepass-pressed);
}

.sprite-home__button-bpreward {
    background-image: var(--sprite-home__button-bpreward);
}

.sprite-home__button-bpreward-outline {
    background-image: var(--sprite-home__button-bpreward-outline);
}

.sprite-home__button-bpreward:active {
    background-image: var(--sprite-home__button-bpreward-pressed);
}

.sprite-home__button-equipmentslot-common {
    background-image: var(--sprite-home__button-equipmentslot-common);
}

.sprite-home__button-equipmentslot-common:active {
    background-image: var(--sprite-home__button-equipmentslot-common-pressed);
}

.sprite-home__button-equipmentslot-empty {
    background-image: var(--sprite-home__button-equipmentslot-empty);
}

.sprite-home__button-equipmentslot-empty:active {
    background-image: var(--sprite-home__button-equipmentslot-empty-pressed);
}

.sprite-home__button-equipmentslot-epic {
    background-image: var(--sprite-home__button-equipmentslot-epic);
}

.sprite-home__button-equipmentslot-epic:active {
    background-image: var(--sprite-home__button-equipmentslot-epic-pressed);
}

.sprite-home__button-equipmentslot-legendary {
    background-image: var(--sprite-home__button-equipmentslot-legendary);
}

.sprite-home__button-equipmentslot-legendary:active {
    background-image: var(--sprite-home__button-equipmentslot-legendary-pressed);
}

.sprite-home__button-equipmentslot-rare {
    background-image: var(--sprite-home__button-equipmentslot-rare);
}

.sprite-home__button-equipmentslot-rare:active {
    background-image: var(--sprite-home__button-equipmentslot-rare-pressed);
}

.sprite-home__button-equipmentslot-uncommon {
    background-image: var(--sprite-home__button-equipmentslot-uncommon);
}

.sprite-home__button-equipmentslot-uncommon:active {
    background-image: var(--sprite-home__button-equipmentslot-uncommon-pressed);
}

.sprite-home__button-gamemode {
    background-image: var(--sprite-home__button-gamemode);
}

.sprite-home__button-gamemode:active {
    background-image: var(--sprite-home__button-gamemode-pressed);
}

.sprite-home__button-gamemodeselection {
    background-image: var(--sprite-home__button-gamemodeselection);
}

.sprite-home__button-grey {
    background-image: var(--sprite-home__button-grey);
}

.sprite-home__button-info {
    background-image: var(--sprite-home__button-info);
}

.sprite-home__button-info:active {
    background-image: var(--sprite-home__button-info-pressed);
}

.sprite-home__button-long-purple {
    background-image: var(--sprite-home__button-long-purple);
}

.sprite-home__button-long-purple:active {
    background-image: var(--sprite-home__button-long-purple-pressed);
}

.sprite-home__button-long-red {
    background-image: var(--sprite-home__button-long-red);
}

.sprite-home__button-long-red:active {
    background-image: var(--sprite-home__button-long-red-pressed);
}

.sprite-home__button-long-yellow {
    background-image: var(--sprite-home__button-long-yellow);
}

.sprite-home__button-long-yellow:active {
    background-image: var(--sprite-home__button-long-yellow-pressed);
}

.sprite-home__button-main-purple {
    background-image: var(--sprite-home__button-main-purple);
}

.sprite-home__button-main-purple:active {
    background-image: var(--sprite-home__button-main-purple-pressed);
}

.sprite-home__button-main-yellow {
    background-image: var(--sprite-home__button-main-yellow);
}

.sprite-home__button-main-yellow:active {
    background-image: var(--sprite-home__button-main-yellow-pressed);
}

.sprite-home__button-play {
    background-image: var(--sprite-home__button-play);
}

.sprite-home__button-play:active {
    background-image: var(--sprite-home__button-play-pressed);
}

.sprite-home__button-popup-equipment-close {
    background-image: var(--sprite-home__button-popup-equipment-close);
}

.sprite-home__button-popup-equipment-close:active {
    background-image: var(--sprite-home__button-popup-equipment-close-pressed);
}

.sprite-home__button-special {
    background-image: var(--sprite-home__button-special);
}

.sprite-home__card-selected {
    background-image: var(--sprite-home__card-selected);
}

.sprite-home__card-shadow-pink {
    background-image: var(--sprite-home__card-shadow-pink);
}

.sprite-home__header-back {
    background-image: var(--sprite-home__header-back);
}

.sprite-home__header-background {
    background-image: var(--sprite-home__header-background);
}

.sprite-home__header-back:active {
    background-image: var(--sprite-home__header-back-pressed);
}

.sprite-home__header-home {
    background-image: var(--sprite-home__header-home);
}

.sprite-home__header-home:active {
    background-image: var(--sprite-home__header-home-pressed);
}

.sprite-home__header-popup-equipment {
    background-image: var(--sprite-home__header-popup-equipment);
}

.sprite-home__header-profile {
    background-image: var(--sprite-home__header-profile);
}

.sprite-home__header-profile:active {
    background-image: var(--sprite-home__header-profile-pressed);
}

.sprite-home__icon-airplane {
    background-image: var(--sprite-home__icon-airplane);
}

.sprite-home__icon-arrow-level {
    background-image: var(--sprite-home__icon-arrow-level);
}

.sprite-home__icon-arrow-upgrade {
    background-image: var(--sprite-home__icon-arrow-upgrade);
}

.sprite-home__icon-battlepass-crown {
    background-image: var(--sprite-home__icon-battlepass-crown);
}

.sprite-home__icon-checkmark {
    background-image: var(--sprite-home__icon-checkmark);
}

.sprite-home__icon-close {
    background-image: var(--sprite-home__icon-close);
}

.sprite-home__icon-close-white {
    background-image: var(--sprite-home__icon-close-white);
}

.sprite-home__icon-cooldown-cs {
    background-image: var(--sprite-home__icon-cooldown-cs);
}

.sprite-home__icon-core-epic {
    background-image: var(--sprite-home__icon-core-epic);
}

.sprite-home__icon-core-legendary {
    background-image: var(--sprite-home__icon-core-legendary);
}

.sprite-home__icon-core-rare {
    background-image: var(--sprite-home__icon-core-rare);
}

.sprite-home__icon-crown-ranked {
    background-image: var(--sprite-home__icon-crown-ranked);
}

.sprite-home__icon-customgame {
    background-image: var(--sprite-home__icon-customgame);
}

.sprite-home__icon-discord {
    background-image: var(--sprite-home__icon-discord);
}

.sprite-home__icon-durability {
    background-image: var(--sprite-home__icon-durability);
}

.sprite-home__icon-emptyslot-amulet {
    background-image: var(--sprite-home__icon-emptyslot-amulet);
}

.sprite-home__icon-emptyslot-armor {
    background-image: var(--sprite-home__icon-emptyslot-armor);
}

.sprite-home__icon-emptyslot-helmet {
    background-image: var(--sprite-home__icon-emptyslot-helmet);
}

.sprite-home__icon-emptyslot-shield {
    background-image: var(--sprite-home__icon-emptyslot-shield);
}

.sprite-home__icon-emptyslot-weapon {
    background-image: var(--sprite-home__icon-emptyslot-weapon);
}

.sprite-home__icon-equipment {
    background-image: var(--sprite-home__icon-equipment);
}

.sprite-home__icon-equipmentcategory-amulet {
    background-image: var(--sprite-home__icon-equipmentcategory-amulet);
}

.sprite-home__icon-equipmentcategory-armor {
    background-image: var(--sprite-home__icon-equipmentcategory-armor);
}

.sprite-home__icon-equipmentcategory-helmet {
    background-image: var(--sprite-home__icon-equipmentcategory-helmet);
}

.sprite-home__icon-equipmentcategory-shield {
    background-image: var(--sprite-home__icon-equipmentcategory-shield);
}

.sprite-home__icon-equipmentcategory-weapon {
    background-image: var(--sprite-home__icon-equipmentcategory-weapon);
}

.sprite-home__icon-gamemode-battleroyale {
    background-image: var(--sprite-home__icon-gamemode-battleroyale);
}

.sprite-home__icon-gamemode-custom {
    background-image: var(--sprite-home__icon-gamemode-custom);
}

.sprite-home__icon-gamemode-deathmatch {
    background-image: var(--sprite-home__icon-gamemode-deathmatch);
}

.sprite-home__icon-heroes {
    background-image: var(--sprite-home__icon-heroes);
}

.sprite-home__icon-hide-purple {
    background-image: var(--sprite-home__icon-hide-purple);
}

.sprite-home__icon-leaderboards {
    background-image: var(--sprite-home__icon-leaderboards);
}

.sprite-home__icon-mapmarker {
    background-image: var(--sprite-home__icon-mapmarker);
}

.sprite-home__icon-marketplace {
    background-image: var(--sprite-home__icon-marketplace);
}

.sprite-home__icon-mutator-healthyair {
    background-image: var(--sprite-home__icon-mutator-healthyair);
}

.sprite-home__icon-mutator-quickspecials {
    background-image: var(--sprite-home__icon-mutator-quickspecials);
}

.sprite-home__icon-mutator-speedup {
    background-image: var(--sprite-home__icon-mutator-speedup);
}

.sprite-home__icon-notification {
    background-image: var(--sprite-home__icon-notification);
}

.sprite-home__icon-player-blue {
    background-image: var(--sprite-home__icon-player-blue);
}

.sprite-home__icon-questionmark {
    background-image: var(--sprite-home__icon-questionmark);
}

.sprite-home__icon-settings {
    background-image: var(--sprite-home__icon-settings);
}

.sprite-home__icon-shop {
    background-image: var(--sprite-home__icon-shop);
}

.sprite-home__icon-show-purple {
    background-image: var(--sprite-home__icon-show-purple);
}

.sprite-home__icon-special-aimingairstrike {
    background-image: var(--sprite-home__icon-special-aimingairstrike);
}

.sprite-home__icon-special-aiminggrenade {
    background-image: var(--sprite-home__icon-special-aiminggrenade);
}

.sprite-home__icon-special-aimingstungrenade {
    background-image: var(--sprite-home__icon-special-aimingstungrenade);
}

.sprite-home__icon-special-defaultdash {
    background-image: var(--sprite-home__icon-special-defaultdash);
}

.sprite-home__icon-special-radar {
    background-image: var(--sprite-home__icon-special-radar);
}

.sprite-home__icon-special-shieldedcharge {
    background-image: var(--sprite-home__icon-special-shieldedcharge);
}

.sprite-home__icon-special-shieldself {
    background-image: var(--sprite-home__icon-special-shieldself);
}

.sprite-home__icon-special-skylaserbeam {
    background-image: var(--sprite-home__icon-special-skylaserbeam);
}

.sprite-home__icon-spinner-thick {
    background-image: var(--sprite-home__icon-spinner-thick);
}

.sprite-home__logo-blasthub {
    background-image: var(--sprite-home__logo-blasthub);
}

.sprite-home__pattern-circle-gradient {
    background-image: var(--sprite-home__pattern-circle-gradient);
}

.sprite-home__pattern-dots-gradient {
    background-image: var(--sprite-home__pattern-dots-gradient);
}

.sprite-home__pattern-dots-rotated {
    background-image: var(--sprite-home__pattern-dots-rotated);
}

.sprite-home__pattern-glow-chosengamemode {
    background-image: var(--sprite-home__pattern-glow-chosengamemode);
}

.sprite-home__pattern-glow-crownlight {
    background-image: var(--sprite-home__pattern-glow-crownlight);
}

.sprite-home__pattern-jagged-horizontal {
    background-image: var(--sprite-home__pattern-jagged-horizontal);
}

.sprite-home__pattern-rewardglow-common {
    background-image: var(--sprite-home__pattern-rewardglow-common);
}

.sprite-home__pattern-rewardglow-epic {
    background-image: var(--sprite-home__pattern-rewardglow-epic);
}

.sprite-home__pattern-rewardglow-legendary {
    background-image: var(--sprite-home__pattern-rewardglow-legendary);
}

.sprite-home__pattern-rewardglow-rainbow {
    background-image: var(--sprite-home__pattern-rewardglow-rainbow);
}

.sprite-home__pattern-rewardglow-rare {
    background-image: var(--sprite-home__pattern-rewardglow-rare);
}

.sprite-home__pattern-rewardglow-uncommon {
    background-image: var(--sprite-home__pattern-rewardglow-uncommon);
}

.sprite-home__progress-battlepass {
    background-image: var(--sprite-home__progress-battlepass);
}

.sprite-home__progress-battlepass-bg {
    background-image: var(--sprite-home__progress-battlepass-bg);
}

.sprite-home__progress-battlepassbtn {
    background-image: var(--sprite-home__progress-battlepassbtn);
}

.sprite-home__progress-battlepassbtn-bg {
    background-image: var(--sprite-home__progress-battlepassbtn-bg);
}

.sprite-home__progress-durability {
    background-image: var(--sprite-home__progress-durability);
}

.sprite-home__progress-durability-bg {
    background-image: var(--sprite-home__progress-durability-bg);
}

.sprite-home__progress-durabilityupgrade {
    background-image: var(--sprite-home__progress-durabilityupgrade);
}

.sprite-home__progress-stat-bg {
    background-image: var(--sprite-home__progress-stat-bg);
}

.sprite-home__progress-stats {
    background-image: var(--sprite-home__progress-stats);
}

.sprite-home__text-blast {
    background-image: var(--sprite-home__text-blast);
}

.sprite-home__text-royale {
    background-image: var(--sprite-home__text-royale);
}

.sprite-home__vfx-glitch-triangle1 {
    background-image: var(--sprite-home__vfx-glitch-triangle1);
}

.sprite-home__vfx-glitch-triangle2 {
    background-image: var(--sprite-home__vfx-glitch-triangle2);
}

