/* AUTO GENERATED */
:root {
    --sprite-home__ArrowBig: url('/Assets/Art/UI/Sprites/Home/ArrowBig.png');
    --sprite-home__background-avatar-nft: url('/Assets/Art/UI/Sprites/Home/background-avatar-nft.png');
    --sprite-home__background-bpchestreward: url('/Assets/Art/UI/Sprites/Home/background-bpchestreward.png');
    --sprite-home__background-bpreward-outline: url('/Assets/Art/UI/Sprites/Home/background-bpreward-outline.png');
    --sprite-home__background-gamemode-battleroyale: url('/Assets/Art/UI/Sprites/Home/background-gamemode-battleroyale.png');
    --sprite-home__background-gamemode-battleroyale-top: url('/Assets/Art/UI/Sprites/Home/background-gamemode-battleroyale-top.png');
    --sprite-home__background-gamemode-custom: url('/Assets/Art/UI/Sprites/Home/background-gamemode-custom.png');
    --sprite-home__background-gamemode-deathmatch: url('/Assets/Art/UI/Sprites/Home/background-gamemode-deathmatch.png');
    --sprite-home__background-gamemode-deathmatch-top: url('/Assets/Art/UI/Sprites/Home/background-gamemode-deathmatch-top.png');
    --sprite-home__background-inputfield: url('/Assets/Art/UI/Sprites/Home/background-inputfield.png');
    --sprite-home__background-matchmakingstatus: url('/Assets/Art/UI/Sprites/Home/background-matchmakingstatus.png');
    --sprite-home__background-modeselection-casual: url('/Assets/Art/UI/Sprites/Home/background-modeselection-casual.png');
    --sprite-home__background-modeselection-comingsoon: url('/Assets/Art/UI/Sprites/Home/background-modeselection-comingsoon.png');
    --sprite-home__background-modeselection-custom: url('/Assets/Art/UI/Sprites/Home/background-modeselection-custom.png');
    --sprite-home__background-modeselection-ranked: url('/Assets/Art/UI/Sprites/Home/background-modeselection-ranked.png');
    --sprite-home__background-modetag-casual: url('/Assets/Art/UI/Sprites/Home/background-modetag-casual.png');
    --sprite-home__background-modetag-ranked: url('/Assets/Art/UI/Sprites/Home/background-modetag-ranked.png');
    --sprite-home__background-popup-equipment: url('/Assets/Art/UI/Sprites/Home/background-popup-equipment.png');
    --sprite-home__background-profile: url('/Assets/Art/UI/Sprites/Home/background-profile.png');
    --sprite-home__background-resourcepool: url('/Assets/Art/UI/Sprites/Home/background-resourcepool.png');
    --sprite-home__background-settings-item: url('/Assets/Art/UI/Sprites/Home/background-settings-item.png');
    --sprite-home__background-settingstab: url('/Assets/Art/UI/Sprites/Home/background-settingstab.png');
    --sprite-home__background-settingstab-chosen: url('/Assets/Art/UI/Sprites/Home/background-settingstab-chosen.png');
    --sprite-home__background-textbubble-yellow: url('/Assets/Art/UI/Sprites/Home/background-textbubble-yellow.png');
    --sprite-home__background-tooltip-bottomleft: url('/Assets/Art/UI/Sprites/Home/background-tooltip-bottomleft.png');
    --sprite-home__background-tooltip-bottomright: url('/Assets/Art/UI/Sprites/Home/background-tooltip-bottomright.png');
    --sprite-home__background-tooltip-topleft: url('/Assets/Art/UI/Sprites/Home/background-tooltip-topleft.png');
    --sprite-home__background-tooltip-topright: url('/Assets/Art/UI/Sprites/Home/background-tooltip-topright.png');
    --sprite-home__banner-mapselection: url('/Assets/Art/UI/Sprites/Home/banner-mapselection.png');
    --sprite-home__button-battlepass: url('/Assets/Art/UI/Sprites/Home/button-battlepass.png');
    --sprite-home__button-battlepass-claimreward: url('/Assets/Art/UI/Sprites/Home/button-battlepass-claimreward.png');
    --sprite-home__button-battlepass-claimreward-pressed: url('/Assets/Art/UI/Sprites/Home/button-battlepass-claimreward-pressed.png');
    --sprite-home__button-battlepass-pressed: url('/Assets/Art/UI/Sprites/Home/button-battlepass-pressed.png');
    --sprite-home__button-bpreward: url('/Assets/Art/UI/Sprites/Home/button-bpreward.png');
    --sprite-home__button-bpreward-outline: url('/Assets/Art/UI/Sprites/Home/button-bpreward-outline.png');
    --sprite-home__button-bpreward-pressed: url('/Assets/Art/UI/Sprites/Home/button-bpreward-pressed.png');
    --sprite-home__button-collection-item: url('/Assets/Art/UI/Sprites/Home/button-collection-item.png');
    --sprite-home__button-collection-item-pressed: url('/Assets/Art/UI/Sprites/Home/button-collection-item-pressed.png');
    --sprite-home__button-collection-tab: url('/Assets/Art/UI/Sprites/Home/button-collection-tab.png');
    --sprite-home__button-collection-tab-pressed: url('/Assets/Art/UI/Sprites/Home/button-collection-tab-pressed.png');
    --sprite-home__button-collection-tab-selected: url('/Assets/Art/UI/Sprites/Home/button-collection-tab-selected.png');
    --sprite-home__button-equipmentslot-common: url('/Assets/Art/UI/Sprites/Home/button-equipmentslot-common.png');
    --sprite-home__button-equipmentslot-common-pressed: url('/Assets/Art/UI/Sprites/Home/button-equipmentslot-common-pressed.png');
    --sprite-home__button-equipmentslot-empty: url('/Assets/Art/UI/Sprites/Home/button-equipmentslot-empty.png');
    --sprite-home__button-equipmentslot-empty-pressed: url('/Assets/Art/UI/Sprites/Home/button-equipmentslot-empty-pressed.png');
    --sprite-home__button-equipmentslot-epic: url('/Assets/Art/UI/Sprites/Home/button-equipmentslot-epic.png');
    --sprite-home__button-equipmentslot-epic-pressed: url('/Assets/Art/UI/Sprites/Home/button-equipmentslot-epic-pressed.png');
    --sprite-home__button-equipmentslot-legendary: url('/Assets/Art/UI/Sprites/Home/button-equipmentslot-legendary.png');
    --sprite-home__button-equipmentslot-legendary-pressed: url('/Assets/Art/UI/Sprites/Home/button-equipmentslot-legendary-pressed.png');
    --sprite-home__button-equipmentslot-rare: url('/Assets/Art/UI/Sprites/Home/button-equipmentslot-rare.png');
    --sprite-home__button-equipmentslot-rare-pressed: url('/Assets/Art/UI/Sprites/Home/button-equipmentslot-rare-pressed.png');
    --sprite-home__button-equipmentslot-uncommon: url('/Assets/Art/UI/Sprites/Home/button-equipmentslot-uncommon.png');
    --sprite-home__button-equipmentslot-uncommon-pressed: url('/Assets/Art/UI/Sprites/Home/button-equipmentslot-uncommon-pressed.png');
    --sprite-home__button-gamemode: url('/Assets/Art/UI/Sprites/Home/button-gamemode.png');
    --sprite-home__button-gamemode-overlay-battleroyale: url('/Assets/Art/UI/Sprites/Home/button-gamemode-overlay-battleroyale.png');
    --sprite-home__button-gamemode-pressed: url('/Assets/Art/UI/Sprites/Home/button-gamemode-pressed.png');
    --sprite-home__button-gamemodeselection: url('/Assets/Art/UI/Sprites/Home/button-gamemodeselection.png');
    --sprite-home__button-grey: url('/Assets/Art/UI/Sprites/Home/button-grey.png');
    --sprite-home__button-info: url('/Assets/Art/UI/Sprites/Home/button-info.png');
    --sprite-home__button-info-pressed: url('/Assets/Art/UI/Sprites/Home/button-info-pressed.png');
    --sprite-home__button-long-darkblue: url('/Assets/Art/UI/Sprites/Home/button-long-darkblue.png');
    --sprite-home__button-long-darkblue-pressed: url('/Assets/Art/UI/Sprites/Home/button-long-darkblue-pressed.png');
    --sprite-home__button-long-purple: url('/Assets/Art/UI/Sprites/Home/button-long-purple.png');
    --sprite-home__button-long-purple-pressed: url('/Assets/Art/UI/Sprites/Home/button-long-purple-pressed.png');
    --sprite-home__button-long-red: url('/Assets/Art/UI/Sprites/Home/button-long-red.png');
    --sprite-home__button-long-red-pressed: url('/Assets/Art/UI/Sprites/Home/button-long-red-pressed.png');
    --sprite-home__button-long-yellow: url('/Assets/Art/UI/Sprites/Home/button-long-yellow.png');
    --sprite-home__button-long-yellow-pressed: url('/Assets/Art/UI/Sprites/Home/button-long-yellow-pressed.png');
    --sprite-home__button-main-disabled: url('/Assets/Art/UI/Sprites/Home/button-main-disabled.png');
    --sprite-home__button-main-purple: url('/Assets/Art/UI/Sprites/Home/button-main-purple.png');
    --sprite-home__button-main-purple-pressed: url('/Assets/Art/UI/Sprites/Home/button-main-purple-pressed.png');
    --sprite-home__button-main-yellow: url('/Assets/Art/UI/Sprites/Home/button-main-yellow.png');
    --sprite-home__button-main-yellow-pressed: url('/Assets/Art/UI/Sprites/Home/button-main-yellow-pressed.png');
    --sprite-home__button-play: url('/Assets/Art/UI/Sprites/Home/button-play.png');
    --sprite-home__button-play-disabled: url('/Assets/Art/UI/Sprites/Home/button-play-disabled.png');
    --sprite-home__button-play-pressed: url('/Assets/Art/UI/Sprites/Home/button-play-pressed.png');
    --sprite-home__button-popup-equipment-close: url('/Assets/Art/UI/Sprites/Home/button-popup-equipment-close.png');
    --sprite-home__button-popup-equipment-close-pressed: url('/Assets/Art/UI/Sprites/Home/button-popup-equipment-close-pressed.png');
    --sprite-home__button-profile: url('/Assets/Art/UI/Sprites/Home/button-profile.png');
    --sprite-home__button-profile-pressed: url('/Assets/Art/UI/Sprites/Home/button-profile-pressed.png');
    --sprite-home__button-settings-toggle: url('/Assets/Art/UI/Sprites/Home/button-settings-toggle.png');
    --sprite-home__button-special: url('/Assets/Art/UI/Sprites/Home/button-special.png');
    --sprite-home__card-selected: url('/Assets/Art/UI/Sprites/Home/card-selected.png');
    --sprite-home__card-shadow-pink: url('/Assets/Art/UI/Sprites/Home/card-shadow-pink.png');
    --sprite-home__customizable-back-part: url('/Assets/Art/UI/Sprites/Home/customizable-back-part.png');
    --sprite-home__dark-pattern-piece: url('/Assets/Art/UI/Sprites/Home/dark-pattern-piece.png');
    --sprite-home__flag-demon: url('/Assets/Art/UI/Sprites/Home/flag-demon.png');
    --sprite-home__flag-superstar: url('/Assets/Art/UI/Sprites/Home/flag-superstar.png');
    --sprite-home__flag-tombstone: url('/Assets/Art/UI/Sprites/Home/flag-tombstone.png');
    --sprite-home__flag-unicorn: url('/Assets/Art/UI/Sprites/Home/flag-unicorn.png');
    --sprite-home__glider-divinci: url('/Assets/Art/UI/Sprites/Home/glider-divinci.png');
    --sprite-home__glider-falcon: url('/Assets/Art/UI/Sprites/Home/glider-falcon.png');
    --sprite-home__glider-rocket: url('/Assets/Art/UI/Sprites/Home/glider-rocket.png');
    --sprite-home__glider-turbine: url('/Assets/Art/UI/Sprites/Home/glider-turbine.png');
    --sprite-home__header-back: url('/Assets/Art/UI/Sprites/Home/header-back.png');
    --sprite-home__header-back-pressed: url('/Assets/Art/UI/Sprites/Home/header-back-pressed.png');
    --sprite-home__header-home: url('/Assets/Art/UI/Sprites/Home/header-home.png');
    --sprite-home__header-home-pressed: url('/Assets/Art/UI/Sprites/Home/header-home-pressed.png');
    --sprite-home__header-popup-equipment: url('/Assets/Art/UI/Sprites/Home/header-popup-equipment.png');
    --sprite-home__header-profile: url('/Assets/Art/UI/Sprites/Home/header-profile.png');
    --sprite-home__header-profile-pressed: url('/Assets/Art/UI/Sprites/Home/header-profile-pressed.png');
    --sprite-home__icon-airplane: url('/Assets/Art/UI/Sprites/Home/icon-airplane.png');
    --sprite-home__icon-arrow-level: url('/Assets/Art/UI/Sprites/Home/icon-arrow-level.png');
    --sprite-home__icon-arrow-settingstab: url('/Assets/Art/UI/Sprites/Home/icon-arrow-settingstab.png');
    --sprite-home__icon-arrow-upgrade: url('/Assets/Art/UI/Sprites/Home/icon-arrow-upgrade.png');
    --sprite-home__icon-banner: url('/Assets/Art/UI/Sprites/Home/icon-banner.png');
    --sprite-home__icon-battlepass-crown: url('/Assets/Art/UI/Sprites/Home/icon-battlepass-crown.png');
    --sprite-home__icon-blastbucks: url('/Assets/Art/UI/Sprites/Home/icon-blastbucks.png');
    --sprite-home__icon-blasthub: url('/Assets/Art/UI/Sprites/Home/icon-blasthub.png');
    --sprite-home__icon-characters: url('/Assets/Art/UI/Sprites/Home/icon-characters.png');
    --sprite-home__icon-checkmark: url('/Assets/Art/UI/Sprites/Home/icon-checkmark.png');
    --sprite-home__icon-close: url('/Assets/Art/UI/Sprites/Home/icon-close.png');
    --sprite-home__icon-close-white: url('/Assets/Art/UI/Sprites/Home/icon-close-white.png');
    --sprite-home__icon-collection: url('/Assets/Art/UI/Sprites/Home/icon-collection.png');
    --sprite-home__icon-collection-lock: url('/Assets/Art/UI/Sprites/Home/icon-collection-lock.png');
    --sprite-home__icon-cooldown-cs: url('/Assets/Art/UI/Sprites/Home/icon-cooldown-cs.png');
    --sprite-home__icon-core-epic: url('/Assets/Art/UI/Sprites/Home/icon-core-epic.png');
    --sprite-home__icon-core-legendary: url('/Assets/Art/UI/Sprites/Home/icon-core-legendary.png');
    --sprite-home__icon-core-rare: url('/Assets/Art/UI/Sprites/Home/icon-core-rare.png');
    --sprite-home__icon-crown-ranked: url('/Assets/Art/UI/Sprites/Home/icon-crown-ranked.png');
    --sprite-home__icon-customgame: url('/Assets/Art/UI/Sprites/Home/icon-customgame.png');
    --sprite-home__icon-discord: url('/Assets/Art/UI/Sprites/Home/icon-discord.png');
    --sprite-home__icon-durability: url('/Assets/Art/UI/Sprites/Home/icon-durability.png');
    --sprite-home__icon-equipment: url('/Assets/Art/UI/Sprites/Home/icon-equipment.png');
    --sprite-home__icon-gamemode-battleroyale: url('/Assets/Art/UI/Sprites/Home/icon-gamemode-battleroyale.png');
    --sprite-home__icon-gamemode-battleroyale-shadow: url('/Assets/Art/UI/Sprites/Home/icon-gamemode-battleroyale-shadow.png');
    --sprite-home__icon-gamemode-custom: url('/Assets/Art/UI/Sprites/Home/icon-gamemode-custom.png');
    --sprite-home__icon-gamemode-deathmatch: url('/Assets/Art/UI/Sprites/Home/icon-gamemode-deathmatch.png');
    --sprite-home__icon-heroes: url('/Assets/Art/UI/Sprites/Home/icon-heroes.png');
    --sprite-home__icon-hide-purple: url('/Assets/Art/UI/Sprites/Home/icon-hide-purple.png');
    --sprite-home__icon-instagram: url('/Assets/Art/UI/Sprites/Home/icon-instagram.png');
    --sprite-home__icon-jetpack: url('/Assets/Art/UI/Sprites/Home/icon-jetpack.png');
    --sprite-home__icon-leaderboards: url('/Assets/Art/UI/Sprites/Home/icon-leaderboards.png');
    --sprite-home__icon-mapmarker: url('/Assets/Art/UI/Sprites/Home/icon-mapmarker.png');
    --sprite-home__icon-marketplace: url('/Assets/Art/UI/Sprites/Home/icon-marketplace.png');
    --sprite-home__icon-melee-skin: url('/Assets/Art/UI/Sprites/Home/icon-melee-skin.png');
    --sprite-home__icon-mutator-healthyair: url('/Assets/Art/UI/Sprites/Home/icon-mutator-healthyair.png');
    --sprite-home__icon-mutator-quickspecials: url('/Assets/Art/UI/Sprites/Home/icon-mutator-quickspecials.png');
    --sprite-home__icon-mutator-speedup: url('/Assets/Art/UI/Sprites/Home/icon-mutator-speedup.png');
    --sprite-home__icon-notification: url('/Assets/Art/UI/Sprites/Home/icon-notification.png');
    --sprite-home__icon-player-blue: url('/Assets/Art/UI/Sprites/Home/icon-player-blue.png');
    --sprite-home__icon-profilepicture: url('/Assets/Art/UI/Sprites/Home/icon-profilepicture.png');
    --sprite-home__icon-questionmark: url('/Assets/Art/UI/Sprites/Home/icon-questionmark.png');
    --sprite-home__icon-settings: url('/Assets/Art/UI/Sprites/Home/icon-settings.png');
    --sprite-home__icon-shop: url('/Assets/Art/UI/Sprites/Home/icon-shop.png');
    --sprite-home__icon-show-purple: url('/Assets/Art/UI/Sprites/Home/icon-show-purple.png');
    --sprite-home__icon-spinner-thick: url('/Assets/Art/UI/Sprites/Home/icon-spinner-thick.png');
    --sprite-home__icon-star-bronze: url('/Assets/Art/UI/Sprites/Home/icon-star-bronze.png');
    --sprite-home__icon-star-diamond: url('/Assets/Art/UI/Sprites/Home/icon-star-diamond.png');
    --sprite-home__icon-star-gold: url('/Assets/Art/UI/Sprites/Home/icon-star-gold.png');
    --sprite-home__icon-star-silver: url('/Assets/Art/UI/Sprites/Home/icon-star-silver.png');
    --sprite-home__icon-tiktok: url('/Assets/Art/UI/Sprites/Home/icon-tiktok.png');
    --sprite-home__icon-youtube: url('/Assets/Art/UI/Sprites/Home/icon-youtube.png');
    --sprite-home__logo-blasthub: url('/Assets/Art/UI/Sprites/Home/logo-blasthub.png');
    --sprite-home__pattern-circle-gradient: url('/Assets/Art/UI/Sprites/Home/pattern-circle-gradient.png');
    --sprite-home__pattern-dots-gradient: url('/Assets/Art/UI/Sprites/Home/pattern-dots-gradient.png');
    --sprite-home__pattern-dots-rotated: url('/Assets/Art/UI/Sprites/Home/pattern-dots-rotated.png');
    --sprite-home__pattern-glow-chosengamemode: url('/Assets/Art/UI/Sprites/Home/pattern-glow-chosengamemode.png');
    --sprite-home__pattern-glow-crownlight: url('/Assets/Art/UI/Sprites/Home/pattern-glow-crownlight.png');
    --sprite-home__pattern-jagged-horizontal: url('/Assets/Art/UI/Sprites/Home/pattern-jagged-horizontal.png');
    --sprite-home__pattern-rewardglow-common: url('/Assets/Art/UI/Sprites/Home/pattern-rewardglow-common.png');
    --sprite-home__pattern-rewardglow-epic: url('/Assets/Art/UI/Sprites/Home/pattern-rewardglow-epic.png');
    --sprite-home__pattern-rewardglow-legendary: url('/Assets/Art/UI/Sprites/Home/pattern-rewardglow-legendary.png');
    --sprite-home__pattern-rewardglow-rainbow: url('/Assets/Art/UI/Sprites/Home/pattern-rewardglow-rainbow.png');
    --sprite-home__pattern-rewardglow-rare: url('/Assets/Art/UI/Sprites/Home/pattern-rewardglow-rare.png');
    --sprite-home__pattern-rewardglow-uncommon: url('/Assets/Art/UI/Sprites/Home/pattern-rewardglow-uncommon.png');
    --sprite-home__progress-battlepass: url('/Assets/Art/UI/Sprites/Home/progress-battlepass.png');
    --sprite-home__progress-battlepass-bg: url('/Assets/Art/UI/Sprites/Home/progress-battlepass-bg.png');
    --sprite-home__progress-battlepassbtn-bg: url('/Assets/Art/UI/Sprites/Home/progress-battlepassbtn-bg.png');
    --sprite-home__progress-durability: url('/Assets/Art/UI/Sprites/Home/progress-durability.png');
    --sprite-home__progress-durability-bg: url('/Assets/Art/UI/Sprites/Home/progress-durability-bg.png');
    --sprite-home__progress-durabilityupgrade: url('/Assets/Art/UI/Sprites/Home/progress-durabilityupgrade.png');
    --sprite-home__progress-stat-bg: url('/Assets/Art/UI/Sprites/Home/progress-stat-bg.png');
    --sprite-home__progress-stats: url('/Assets/Art/UI/Sprites/Home/progress-stats.png');
    --sprite-home__reward-blastbuck: url('/Assets/Art/UI/Sprites/Home/reward-blastbuck.png');
    --sprite-home__reward-blastbuck2: url('/Assets/Art/UI/Sprites/Home/reward-blastbuck2.png');
    --sprite-home__reward-blastbuck3: url('/Assets/Art/UI/Sprites/Home/reward-blastbuck3.png');
    --sprite-home__reward-bpp: url('/Assets/Art/UI/Sprites/Home/reward-bpp.png');
    --sprite-home__reward-coin: url('/Assets/Art/UI/Sprites/Home/reward-coin.png');
    --sprite-home__reward-coin2: url('/Assets/Art/UI/Sprites/Home/reward-coin2.png');
    --sprite-home__reward-coin3: url('/Assets/Art/UI/Sprites/Home/reward-coin3.png');
    --sprite-home__reward-cs: url('/Assets/Art/UI/Sprites/Home/reward-cs.png');
    --sprite-home__rewards-gradient-purple: url('/Assets/Art/UI/Sprites/Home/rewards-gradient-purple.png');
    --sprite-home__rewards-impact-circle: url('/Assets/Art/UI/Sprites/Home/rewards-impact-circle.png');
    --sprite-home__reward-slot: url('/Assets/Art/UI/Sprites/Home/reward-slot.png');
    --sprite-home__tag-body: url('/Assets/Art/UI/Sprites/Home/tag-body.png');
    --sprite-home__temp-icon-profile-neil: url('/Assets/Art/UI/Sprites/Home/temp-icon-profile-neil.png');
    --sprite-home__text-blast: url('/Assets/Art/UI/Sprites/Home/text-blast.png');
    --sprite-home__text-royale: url('/Assets/Art/UI/Sprites/Home/text-royale.png');
    --sprite-home__vfx-glitch-triangle1: url('/Assets/Art/UI/Sprites/Home/vfx-glitch-triangle1.png');
    --sprite-home__vfx-glitch-triangle2: url('/Assets/Art/UI/Sprites/Home/vfx-glitch-triangle2.png');
    --sprite-home__vfx-lightrays-reward: url('/Assets/Art/UI/Sprites/Home/vfx-lightrays-reward.png');
    --sprite-home__vfx-rewards-rays: url('/Assets/Art/UI/Sprites/Home/vfx-rewards-rays.png');
    --sprite-home__volume-header: url('/Assets/Art/UI/Sprites/Home/volume-header.png');
    --sprite-home__weapon-placeholder: url('/Assets/Art/UI/Sprites/Home/weapon-placeholder.png');
}

.sprite-home__ArrowBig {
    background-image: var(--sprite-home__ArrowBig);
    width: 54px;
    height: 84px;
}

.sprite-home__background-avatar-nft {
    background-image: var(--sprite-home__background-avatar-nft);
    width: 128px;
    height: 128px;
}

.sprite-home__background-bpchestreward {
    background-image: var(--sprite-home__background-bpchestreward);
    width: 132px;
    height: 142px;
}

.sprite-home__background-bpreward-outline {
    background-image: var(--sprite-home__background-bpreward-outline);
    width: 370px;
    height: 394px;
}

.sprite-home__background-gamemode-battleroyale {
    background-image: var(--sprite-home__background-gamemode-battleroyale);
    width: 430px;
    height: 461px;
}

.sprite-home__background-gamemode-battleroyale-top {
    background-image: var(--sprite-home__background-gamemode-battleroyale-top);
    width: 491px;
    height: 466px;
}

.sprite-home__background-gamemode-custom {
    background-image: var(--sprite-home__background-gamemode-custom);
    width: 430px;
    height: 461px;
}

.sprite-home__background-gamemode-deathmatch {
    background-image: var(--sprite-home__background-gamemode-deathmatch);
    width: 430px;
    height: 461px;
}

.sprite-home__background-gamemode-deathmatch-top {
    background-image: var(--sprite-home__background-gamemode-deathmatch-top);
    width: 470px;
    height: 436px;
}

.sprite-home__background-inputfield {
    background-image: var(--sprite-home__background-inputfield);
    width: 72px;
    height: 72px;
}

.sprite-home__background-matchmakingstatus {
    background-image: var(--sprite-home__background-matchmakingstatus);
    width: 516px;
    height: 114px;
}

.sprite-home__background-modeselection-casual {
    background-image: var(--sprite-home__background-modeselection-casual);
    width: 460px;
    height: 220px;
}

.sprite-home__background-modeselection-comingsoon {
    background-image: var(--sprite-home__background-modeselection-comingsoon);
    width: 448px;
    height: 650px;
}

.sprite-home__background-modeselection-custom {
    background-image: var(--sprite-home__background-modeselection-custom);
    width: 460px;
    height: 220px;
}

.sprite-home__background-modeselection-ranked {
    background-image: var(--sprite-home__background-modeselection-ranked);
    width: 460px;
    height: 220px;
}

.sprite-home__background-modetag-casual {
    background-image: var(--sprite-home__background-modetag-casual);
    width: 150px;
    height: 46px;
}

.sprite-home__background-modetag-ranked {
    background-image: var(--sprite-home__background-modetag-ranked);
    width: 150px;
    height: 46px;
}

.sprite-home__background-popup-equipment {
    background-image: var(--sprite-home__background-popup-equipment);
    width: 76px;
    height: 76px;
}

.sprite-home__background-profile {
    background-image: var(--sprite-home__background-profile);
    width: 98px;
    height: 128px;
}

.sprite-home__background-resourcepool {
    background-image: var(--sprite-home__background-resourcepool);
    width: 428px;
    height: 102px;
}

.sprite-home__background-settings-item {
    background-image: var(--sprite-home__background-settings-item);
    width: 172px;
    height: 172px;
}

.sprite-home__background-settingstab {
    background-image: var(--sprite-home__background-settingstab);
    width: 68px;
    height: 84px;
}

.sprite-home__background-settingstab-chosen {
    background-image: var(--sprite-home__background-settingstab-chosen);
    width: 57px;
    height: 80px;
}

.sprite-home__background-textbubble-yellow {
    background-image: var(--sprite-home__background-textbubble-yellow);
    width: 372px;
    height: 130px;
}

.sprite-home__background-tooltip-bottomleft {
    background-image: var(--sprite-home__background-tooltip-bottomleft);
    width: 82px;
    height: 62px;
}

.sprite-home__background-tooltip-bottomright {
    background-image: var(--sprite-home__background-tooltip-bottomright);
    width: 82px;
    height: 62px;
}

.sprite-home__background-tooltip-topleft {
    background-image: var(--sprite-home__background-tooltip-topleft);
    width: 82px;
    height: 62px;
}

.sprite-home__background-tooltip-topright {
    background-image: var(--sprite-home__background-tooltip-topright);
    width: 82px;
    height: 62px;
}

.sprite-home__banner-mapselection {
    background-image: var(--sprite-home__banner-mapselection);
    width: 932px;
    height: 275px;
}

.sprite-home__button-battlepass {
    background-image: var(--sprite-home__button-battlepass);
    width: 564px;
    height: 178px;
}

.sprite-home__button-battlepass-claimreward {
    background-image: var(--sprite-home__button-battlepass-claimreward);
    width: 564px;
    height: 178px;
}

.sprite-home__button-battlepass-claimreward:active {
    background-image: var(--sprite-home__button-battlepass-claimreward-pressed);
}

.sprite-home__button-battlepass:active {
    background-image: var(--sprite-home__button-battlepass-pressed);
}

.sprite-home__button-bpreward {
    background-image: var(--sprite-home__button-bpreward);
    width: 356px;
    height: 400px;
}

.sprite-home__button-bpreward-outline {
    background-image: var(--sprite-home__button-bpreward-outline);
    width: 344px;
    height: 364px;
}

.sprite-home__button-bpreward:active {
    background-image: var(--sprite-home__button-bpreward-pressed);
}

.sprite-home__button-collection-item {
    background-image: var(--sprite-home__button-collection-item);
    width: 348px;
    height: 340px;
}

.sprite-home__button-collection-item:active {
    background-image: var(--sprite-home__button-collection-item-pressed);
}

.sprite-home__button-collection-tab {
    background-image: var(--sprite-home__button-collection-tab);
    width: 486px;
    height: 164px;
}

.sprite-home__button-collection-tab:active {
    background-image: var(--sprite-home__button-collection-tab-pressed);
}

.sprite-home__button-collection-tab-selected {
    background-image: var(--sprite-home__button-collection-tab-selected);
    width: 486px;
    height: 164px;
}

.sprite-home__button-equipmentslot-common {
    background-image: var(--sprite-home__button-equipmentslot-common);
    width: 608px;
    height: 140px;
}

.sprite-home__button-equipmentslot-common:active {
    background-image: var(--sprite-home__button-equipmentslot-common-pressed);
}

.sprite-home__button-equipmentslot-empty {
    background-image: var(--sprite-home__button-equipmentslot-empty);
    width: 608px;
    height: 140px;
}

.sprite-home__button-equipmentslot-empty:active {
    background-image: var(--sprite-home__button-equipmentslot-empty-pressed);
}

.sprite-home__button-equipmentslot-epic {
    background-image: var(--sprite-home__button-equipmentslot-epic);
    width: 608px;
    height: 140px;
}

.sprite-home__button-equipmentslot-epic:active {
    background-image: var(--sprite-home__button-equipmentslot-epic-pressed);
}

.sprite-home__button-equipmentslot-legendary {
    background-image: var(--sprite-home__button-equipmentslot-legendary);
    width: 608px;
    height: 140px;
}

.sprite-home__button-equipmentslot-legendary:active {
    background-image: var(--sprite-home__button-equipmentslot-legendary-pressed);
}

.sprite-home__button-equipmentslot-rare {
    background-image: var(--sprite-home__button-equipmentslot-rare);
    width: 608px;
    height: 140px;
}

.sprite-home__button-equipmentslot-rare:active {
    background-image: var(--sprite-home__button-equipmentslot-rare-pressed);
}

.sprite-home__button-equipmentslot-uncommon {
    background-image: var(--sprite-home__button-equipmentslot-uncommon);
    width: 608px;
    height: 140px;
}

.sprite-home__button-equipmentslot-uncommon:active {
    background-image: var(--sprite-home__button-equipmentslot-uncommon-pressed);
}

.sprite-home__button-gamemode {
    background-image: var(--sprite-home__button-gamemode);
    width: 414px;
    height: 168px;
}

.sprite-home__button-gamemode-overlay-battleroyale {
    background-image: var(--sprite-home__button-gamemode-overlay-battleroyale);
    width: 264px;
    height: 134px;
}

.sprite-home__button-gamemode:active {
    background-image: var(--sprite-home__button-gamemode-pressed);
}

.sprite-home__button-gamemodeselection {
    background-image: var(--sprite-home__button-gamemodeselection);
    width: 494px;
    height: 722px;
}

.sprite-home__button-grey {
    background-image: var(--sprite-home__button-grey);
    width: 306px;
    height: 88px;
}

.sprite-home__button-info {
    background-image: var(--sprite-home__button-info);
    width: 48px;
    height: 54px;
}

.sprite-home__button-info:active {
    background-image: var(--sprite-home__button-info-pressed);
}

.sprite-home__button-long-darkblue {
    background-image: var(--sprite-home__button-long-darkblue);
    width: 320px;
    height: 78px;
}

.sprite-home__button-long-darkblue:active {
    background-image: var(--sprite-home__button-long-darkblue-pressed);
}

.sprite-home__button-long-purple {
    background-image: var(--sprite-home__button-long-purple);
    width: 306px;
    height: 88px;
}

.sprite-home__button-long-purple:active {
    background-image: var(--sprite-home__button-long-purple-pressed);
}

.sprite-home__button-long-red {
    background-image: var(--sprite-home__button-long-red);
    width: 306px;
    height: 88px;
}

.sprite-home__button-long-red:active {
    background-image: var(--sprite-home__button-long-red-pressed);
}

.sprite-home__button-long-yellow {
    background-image: var(--sprite-home__button-long-yellow);
    width: 306px;
    height: 88px;
}

.sprite-home__button-long-yellow:active {
    background-image: var(--sprite-home__button-long-yellow-pressed);
}

.sprite-home__button-main-disabled {
    background-image: var(--sprite-home__button-main-disabled);
    width: 221px;
    height: 127px;
}

.sprite-home__button-main-purple {
    background-image: var(--sprite-home__button-main-purple);
    width: 221px;
    height: 127px;
}

.sprite-home__button-main-purple:active {
    background-image: var(--sprite-home__button-main-purple-pressed);
}

.sprite-home__button-main-yellow {
    background-image: var(--sprite-home__button-main-yellow);
    width: 221px;
    height: 127px;
}

.sprite-home__button-main-yellow:active {
    background-image: var(--sprite-home__button-main-yellow-pressed);
}

.sprite-home__button-play {
    background-image: var(--sprite-home__button-play);
    width: 517px;
    height: 174px;
}

.sprite-home__button-play-disabled {
    background-image: var(--sprite-home__button-play-disabled);
    width: 535px;
    height: 193px;
}

.sprite-home__button-play:active {
    background-image: var(--sprite-home__button-play-pressed);
}

.sprite-home__button-popup-equipment-close {
    background-image: var(--sprite-home__button-popup-equipment-close);
    width: 104px;
    height: 90px;
}

.sprite-home__button-popup-equipment-close:active {
    background-image: var(--sprite-home__button-popup-equipment-close-pressed);
}

.sprite-home__button-profile {
    background-image: var(--sprite-home__button-profile);
    width: 164px;
    height: 138px;
}

.sprite-home__button-profile:active {
    background-image: var(--sprite-home__button-profile-pressed);
}

.sprite-home__button-settings-toggle {
    background-image: var(--sprite-home__button-settings-toggle);
    width: 88px;
    height: 68px;
}

.sprite-home__button-special {
    background-image: var(--sprite-home__button-special);
    width: 142px;
    height: 142px;
}

.sprite-home__card-selected {
    background-image: var(--sprite-home__card-selected);
    width: 410px;
    height: 430px;
}

.sprite-home__card-shadow-pink {
    background-image: var(--sprite-home__card-shadow-pink);
    width: 288px;
    height: 304px;
}

.sprite-home__customizable-back-part {
    background-image: var(--sprite-home__customizable-back-part);
    width: 190px;
    height: 50px;
}

.sprite-home__dark-pattern-piece {
    background-image: var(--sprite-home__dark-pattern-piece);
    width: 43px;
    height: 483px;
}

.sprite-home__flag-demon {
    background-image: var(--sprite-home__flag-demon);
    width: 512px;
    height: 512px;
}

.sprite-home__flag-superstar {
    background-image: var(--sprite-home__flag-superstar);
    width: 512px;
    height: 512px;
}

.sprite-home__flag-tombstone {
    background-image: var(--sprite-home__flag-tombstone);
    width: 512px;
    height: 512px;
}

.sprite-home__flag-unicorn {
    background-image: var(--sprite-home__flag-unicorn);
    width: 324px;
    height: 324px;
}

.sprite-home__glider-divinci {
    background-image: var(--sprite-home__glider-divinci);
    width: 512px;
    height: 512px;
}

.sprite-home__glider-falcon {
    background-image: var(--sprite-home__glider-falcon);
    width: 512px;
    height: 512px;
}

.sprite-home__glider-rocket {
    background-image: var(--sprite-home__glider-rocket);
    width: 512px;
    height: 512px;
}

.sprite-home__glider-turbine {
    background-image: var(--sprite-home__glider-turbine);
    width: 512px;
    height: 512px;
}

.sprite-home__header-back {
    background-image: var(--sprite-home__header-back);
    width: 742px;
    height: 178px;
}

.sprite-home__header-back:active {
    background-image: var(--sprite-home__header-back-pressed);
}

.sprite-home__header-home {
    background-image: var(--sprite-home__header-home);
    width: 550px;
    height: 166px;
}

.sprite-home__header-home:active {
    background-image: var(--sprite-home__header-home-pressed);
}

.sprite-home__header-popup-equipment {
    background-image: var(--sprite-home__header-popup-equipment);
    width: 100px;
    height: 86px;
}

.sprite-home__header-profile {
    background-image: var(--sprite-home__header-profile);
    width: 772px;
    height: 208px;
}

.sprite-home__header-profile:active {
    background-image: var(--sprite-home__header-profile-pressed);
}

.sprite-home__icon-airplane {
    background-image: var(--sprite-home__icon-airplane);
    width: 70px;
    height: 74px;
}

.sprite-home__icon-arrow-level {
    background-image: var(--sprite-home__icon-arrow-level);
    width: 44px;
    height: 36px;
}

.sprite-home__icon-arrow-settingstab {
    background-image: var(--sprite-home__icon-arrow-settingstab);
    width: 40px;
    height: 28px;
}

.sprite-home__icon-arrow-upgrade {
    background-image: var(--sprite-home__icon-arrow-upgrade);
    width: 36px;
    height: 26px;
}

.sprite-home__icon-banner {
    background-image: var(--sprite-home__icon-banner);
    width: 42px;
    height: 42px;
}

.sprite-home__icon-battlepass-crown {
    background-image: var(--sprite-home__icon-battlepass-crown);
    width: 104px;
    height: 88px;
}

.sprite-home__icon-blastbucks {
    background-image: var(--sprite-home__icon-blastbucks);
    width: 160px;
    height: 160px;
}

.sprite-home__icon-blasthub {
    background-image: var(--sprite-home__icon-blasthub);
    width: 48px;
    height: 48px;
}

.sprite-home__icon-characters {
    background-image: var(--sprite-home__icon-characters);
    width: 42px;
    height: 42px;
}

.sprite-home__icon-checkmark {
    background-image: var(--sprite-home__icon-checkmark);
    width: 88px;
    height: 72px;
}

.sprite-home__icon-close {
    background-image: var(--sprite-home__icon-close);
    width: 112px;
    height: 88px;
}

.sprite-home__icon-close-white {
    background-image: var(--sprite-home__icon-close-white);
    width: 26px;
    height: 26px;
}

.sprite-home__icon-collection {
    background-image: var(--sprite-home__icon-collection);
    width: 133px;
    height: 91px;
}

.sprite-home__icon-collection-lock {
    background-image: var(--sprite-home__icon-collection-lock);
    width: 148px;
    height: 160px;
}

.sprite-home__icon-cooldown-cs {
    background-image: var(--sprite-home__icon-cooldown-cs);
    width: 38px;
    height: 38px;
}

.sprite-home__icon-core-epic {
    background-image: var(--sprite-home__icon-core-epic);
    width: 280px;
    height: 280px;
}

.sprite-home__icon-core-legendary {
    background-image: var(--sprite-home__icon-core-legendary);
    width: 280px;
    height: 280px;
}

.sprite-home__icon-core-rare {
    background-image: var(--sprite-home__icon-core-rare);
    width: 280px;
    height: 280px;
}

.sprite-home__icon-crown-ranked {
    background-image: var(--sprite-home__icon-crown-ranked);
    width: 86px;
    height: 58px;
}

.sprite-home__icon-customgame {
    background-image: var(--sprite-home__icon-customgame);
    width: 64px;
    height: 42px;
}

.sprite-home__icon-discord {
    background-image: var(--sprite-home__icon-discord);
    width: 48px;
    height: 48px;
}

.sprite-home__icon-durability {
    background-image: var(--sprite-home__icon-durability);
    width: 40px;
    height: 40px;
}

.sprite-home__icon-equipment {
    background-image: var(--sprite-home__icon-equipment);
    width: 128px;
    height: 85px;
}

.sprite-home__icon-gamemode-battleroyale {
    background-image: var(--sprite-home__icon-gamemode-battleroyale);
    width: 46px;
    height: 46px;
}

.sprite-home__icon-gamemode-battleroyale-shadow {
    background-image: var(--sprite-home__icon-gamemode-battleroyale-shadow);
    width: 60px;
    height: 60px;
}

.sprite-home__icon-gamemode-custom {
    background-image: var(--sprite-home__icon-gamemode-custom);
    width: 46px;
    height: 46px;
}

.sprite-home__icon-gamemode-deathmatch {
    background-image: var(--sprite-home__icon-gamemode-deathmatch);
    width: 46px;
    height: 46px;
}

.sprite-home__icon-heroes {
    background-image: var(--sprite-home__icon-heroes);
    width: 128px;
    height: 85px;
}

.sprite-home__icon-hide-purple {
    background-image: var(--sprite-home__icon-hide-purple);
    width: 38px;
    height: 38px;
}

.sprite-home__icon-instagram {
    background-image: var(--sprite-home__icon-instagram);
    width: 48px;
    height: 48px;
}

.sprite-home__icon-jetpack {
    background-image: var(--sprite-home__icon-jetpack);
    width: 42px;
    height: 42px;
}

.sprite-home__icon-leaderboards {
    background-image: var(--sprite-home__icon-leaderboards);
    width: 128px;
    height: 85px;
}

.sprite-home__icon-mapmarker {
    background-image: var(--sprite-home__icon-mapmarker);
    width: 90px;
    height: 132px;
}

.sprite-home__icon-marketplace {
    background-image: var(--sprite-home__icon-marketplace);
    width: 128px;
    height: 85px;
}

.sprite-home__icon-melee-skin {
    background-image: var(--sprite-home__icon-melee-skin);
    width: 42px;
    height: 42px;
}

.sprite-home__icon-mutator-healthyair {
    background-image: var(--sprite-home__icon-mutator-healthyair);
    width: 30px;
    height: 30px;
}

.sprite-home__icon-mutator-quickspecials {
    background-image: var(--sprite-home__icon-mutator-quickspecials);
    width: 30px;
    height: 30px;
}

.sprite-home__icon-mutator-speedup {
    background-image: var(--sprite-home__icon-mutator-speedup);
    width: 30px;
    height: 30px;
}

.sprite-home__icon-notification {
    background-image: var(--sprite-home__icon-notification);
    width: 38px;
    height: 38px;
}

.sprite-home__icon-player-blue {
    background-image: var(--sprite-home__icon-player-blue);
    width: 549px;
    height: 599px;
}

.sprite-home__icon-profilepicture {
    background-image: var(--sprite-home__icon-profilepicture);
    width: 42px;
    height: 42px;
}

.sprite-home__icon-questionmark {
    background-image: var(--sprite-home__icon-questionmark);
    width: 106px;
    height: 190px;
}

.sprite-home__icon-settings {
    background-image: var(--sprite-home__icon-settings);
    width: 66px;
    height: 66px;
}

.sprite-home__icon-shop {
    background-image: var(--sprite-home__icon-shop);
    width: 136px;
    height: 90px;
}

.sprite-home__icon-show-purple {
    background-image: var(--sprite-home__icon-show-purple);
    width: 38px;
    height: 38px;
}

.sprite-home__icon-spinner-thick {
    background-image: var(--sprite-home__icon-spinner-thick);
    width: 68px;
    height: 68px;
}

.sprite-home__icon-star-bronze {
    background-image: var(--sprite-home__icon-star-bronze);
    width: 36px;
    height: 36px;
}

.sprite-home__icon-star-diamond {
    background-image: var(--sprite-home__icon-star-diamond);
    width: 36px;
    height: 36px;
}

.sprite-home__icon-star-gold {
    background-image: var(--sprite-home__icon-star-gold);
    width: 36px;
    height: 36px;
}

.sprite-home__icon-star-silver {
    background-image: var(--sprite-home__icon-star-silver);
    width: 36px;
    height: 36px;
}

.sprite-home__icon-tiktok {
    background-image: var(--sprite-home__icon-tiktok);
    width: 48px;
    height: 48px;
}

.sprite-home__icon-youtube {
    background-image: var(--sprite-home__icon-youtube);
    width: 48px;
    height: 48px;
}

.sprite-home__logo-blasthub {
    background-image: var(--sprite-home__logo-blasthub);
    width: 260px;
    height: 52px;
}

.sprite-home__pattern-circle-gradient {
    background-image: var(--sprite-home__pattern-circle-gradient);
    width: 466px;
    height: 378px;
}

.sprite-home__pattern-dots-gradient {
    background-image: var(--sprite-home__pattern-dots-gradient);
    width: 494px;
    height: 135px;
}

.sprite-home__pattern-dots-rotated {
    background-image: var(--sprite-home__pattern-dots-rotated);
    width: 602px;
    height: 604px;
}

.sprite-home__pattern-glow-chosengamemode {
    background-image: var(--sprite-home__pattern-glow-chosengamemode);
    width: 206px;
    height: 300px;
}

.sprite-home__pattern-glow-crownlight {
    background-image: var(--sprite-home__pattern-glow-crownlight);
    width: 517px;
    height: 240px;
}

.sprite-home__pattern-jagged-horizontal {
    background-image: var(--sprite-home__pattern-jagged-horizontal);
    width: 650px;
    height: 336px;
}

.sprite-home__pattern-rewardglow-common {
    background-image: var(--sprite-home__pattern-rewardglow-common);
    width: 128px;
    height: 128px;
}

.sprite-home__pattern-rewardglow-epic {
    background-image: var(--sprite-home__pattern-rewardglow-epic);
    width: 128px;
    height: 128px;
}

.sprite-home__pattern-rewardglow-legendary {
    background-image: var(--sprite-home__pattern-rewardglow-legendary);
    width: 128px;
    height: 128px;
}

.sprite-home__pattern-rewardglow-rainbow {
    background-image: var(--sprite-home__pattern-rewardglow-rainbow);
    width: 128px;
    height: 128px;
}

.sprite-home__pattern-rewardglow-rare {
    background-image: var(--sprite-home__pattern-rewardglow-rare);
    width: 128px;
    height: 128px;
}

.sprite-home__pattern-rewardglow-uncommon {
    background-image: var(--sprite-home__pattern-rewardglow-uncommon);
    width: 128px;
    height: 128px;
}

.sprite-home__progress-battlepass {
    background-image: var(--sprite-home__progress-battlepass);
    width: 62px;
    height: 24px;
}

.sprite-home__progress-battlepass-bg {
    background-image: var(--sprite-home__progress-battlepass-bg);
    width: 35px;
    height: 30px;
}

.sprite-home__progress-battlepassbtn-bg {
    background-image: var(--sprite-home__progress-battlepassbtn-bg);
    width: 28px;
    height: 24px;
}

.sprite-home__progress-durability {
    background-image: var(--sprite-home__progress-durability);
    width: 16px;
    height: 14px;
}

.sprite-home__progress-durability-bg {
    background-image: var(--sprite-home__progress-durability-bg);
    width: 24px;
    height: 18px;
}

.sprite-home__progress-durabilityupgrade {
    background-image: var(--sprite-home__progress-durabilityupgrade);
    width: 22px;
    height: 12px;
}

.sprite-home__progress-stat-bg {
    background-image: var(--sprite-home__progress-stat-bg);
    width: 18px;
    height: 15px;
}

.sprite-home__progress-stats {
    background-image: var(--sprite-home__progress-stats);
    width: 54px;
    height: 14px;
}

.sprite-home__reward-blastbuck {
    background-image: var(--sprite-home__reward-blastbuck);
    width: 512px;
    height: 512px;
}

.sprite-home__reward-blastbuck2 {
    background-image: var(--sprite-home__reward-blastbuck2);
    width: 512px;
    height: 512px;
}

.sprite-home__reward-blastbuck3 {
    background-image: var(--sprite-home__reward-blastbuck3);
    width: 512px;
    height: 512px;
}

.sprite-home__reward-bpp {
    background-image: var(--sprite-home__reward-bpp);
    width: 512px;
    height: 512px;
}

.sprite-home__reward-coin {
    background-image: var(--sprite-home__reward-coin);
    width: 512px;
    height: 512px;
}

.sprite-home__reward-coin2 {
    background-image: var(--sprite-home__reward-coin2);
    width: 512px;
    height: 512px;
}

.sprite-home__reward-coin3 {
    background-image: var(--sprite-home__reward-coin3);
    width: 512px;
    height: 512px;
}

.sprite-home__reward-cs {
    background-image: var(--sprite-home__reward-cs);
    width: 512px;
    height: 512px;
}

.sprite-home__rewards-gradient-purple {
    background-image: var(--sprite-home__rewards-gradient-purple);
    width: 200px;
    height: 200px;
}

.sprite-home__rewards-impact-circle {
    background-image: var(--sprite-home__rewards-impact-circle);
    width: 250px;
    height: 250px;
}

.sprite-home__reward-slot {
    background-image: var(--sprite-home__reward-slot);
    width: 270px;
    height: 270px;
}

.sprite-home__tag-body {
    background-image: var(--sprite-home__tag-body);
    width: 30px;
    height: 30px;
}

.sprite-home__temp-icon-profile-neil {
    background-image: var(--sprite-home__temp-icon-profile-neil);
    width: 110px;
    height: 110px;
}

.sprite-home__text-blast {
    background-image: var(--sprite-home__text-blast);
    width: 1000px;
    height: 426px;
}

.sprite-home__text-royale {
    background-image: var(--sprite-home__text-royale);
    width: 1000px;
    height: 372px;
}

.sprite-home__vfx-glitch-triangle1 {
    background-image: var(--sprite-home__vfx-glitch-triangle1);
    width: 86px;
    height: 24px;
}

.sprite-home__vfx-glitch-triangle2 {
    background-image: var(--sprite-home__vfx-glitch-triangle2);
    width: 30px;
    height: 74px;
}

.sprite-home__vfx-lightrays-reward {
    background-image: var(--sprite-home__vfx-lightrays-reward);
    width: 346px;
    height: 198px;
}

.sprite-home__vfx-rewards-rays {
    background-image: var(--sprite-home__vfx-rewards-rays);
    width: 718px;
    height: 718px;
}

.sprite-home__volume-header {
    background-image: var(--sprite-home__volume-header);
    width: 20px;
    height: 38px;
}

.sprite-home__weapon-placeholder {
    background-image: var(--sprite-home__weapon-placeholder);
    width: 688px;
    height: 687px;
}

