/* AUTO GENERATED */
:root {
    --sprite-match__animation-shieldbreak-notification__firsthalf-shield: url('/Assets/Art/UI/Sprites/Match/animation-shieldbreak-notification__firsthalf-shield.png');
    --sprite-match__animation-shieldbreak-notification__light: url('/Assets/Art/UI/Sprites/Match/animation-shieldbreak-notification__light.png');
    --sprite-match__animation-shieldbreak-notification__secondhalf-shield: url('/Assets/Art/UI/Sprites/Match/animation-shieldbreak-notification__secondhalf-shield.png');
    --sprite-match__animation-shieldbreak-notification__shield: url('/Assets/Art/UI/Sprites/Match/animation-shieldbreak-notification__shield.png');
    --sprite-match__background-equipmentcharacter: url('/Assets/Art/UI/Sprites/Match/background-equipmentcharacter.png');
    --sprite-match__background-equippedweapons: url('/Assets/Art/UI/Sprites/Match/background-equippedweapons.png');
    --sprite-match__background-gradient-blue: url('/Assets/Art/UI/Sprites/Match/background-gradient-blue.png');
    --sprite-match__background-gradient-pink: url('/Assets/Art/UI/Sprites/Match/background-gradient-pink.png');
    --sprite-match__background-gradient-yellow: url('/Assets/Art/UI/Sprites/Match/background-gradient-yellow.png');
    --sprite-match__background-healthbar: url('/Assets/Art/UI/Sprites/Match/background-healthbar.png');
    --sprite-match__background-killstreak: url('/Assets/Art/UI/Sprites/Match/background-killstreak.png');
    --sprite-match__background-playerbar: url('/Assets/Art/UI/Sprites/Match/background-playerbar.png');
    --sprite-match__background-reward-bpp: url('/Assets/Art/UI/Sprites/Match/background-reward-bpp.png');
    --sprite-match__background-reward-normal: url('/Assets/Art/UI/Sprites/Match/background-reward-normal.png');
    --sprite-match__background-squadmember: url('/Assets/Art/UI/Sprites/Match/background-squadmember.png');
    --sprite-match__background-whitegradient: url('/Assets/Art/UI/Sprites/Match/background-whitegradient.png');
    --sprite-match__banner-rainbow: url('/Assets/Art/UI/Sprites/Match/banner-rainbow.png');
    --sprite-match__banner-red: url('/Assets/Art/UI/Sprites/Match/banner-red.png');
    --sprite-match__banner-winner: url('/Assets/Art/UI/Sprites/Match/banner-winner.png');
    --sprite-match__button-next: url('/Assets/Art/UI/Sprites/Match/button-next.png');
    --sprite-match__button-next-pressed: url('/Assets/Art/UI/Sprites/Match/button-next-pressed.png');
    --sprite-match__DarkAirstrike: url('/Assets/Art/UI/Sprites/Match/DarkAirstrike.png');
    --sprite-match__DarkGrenade: url('/Assets/Art/UI/Sprites/Match/DarkGrenade.png');
    --sprite-match__DarkHazardAimSpawn: url('/Assets/Art/UI/Sprites/Match/DarkHazardAimSpawn.png');
    --sprite-match__DarkRadar: url('/Assets/Art/UI/Sprites/Match/DarkRadar.png');
    --sprite-match__DarkShieldedCharge: url('/Assets/Art/UI/Sprites/Match/DarkShieldedCharge.png');
    --sprite-match__DarkShieldSelfStatus: url('/Assets/Art/UI/Sprites/Match/DarkShieldSelfStatus.png');
    --sprite-match__DarkStunGrenade: url('/Assets/Art/UI/Sprites/Match/DarkStunGrenade.png');
    --sprite-match__gradient-lowhp: url('/Assets/Art/UI/Sprites/Match/gradient-lowhp.png');
    --sprite-match__gradientwhite: url('/Assets/Art/UI/Sprites/Match/gradientwhite.png');
    --sprite-match__icon-ammo: url('/Assets/Art/UI/Sprites/Match/icon-ammo.png');
    --sprite-match__icon-arrow-yellow-left: url('/Assets/Art/UI/Sprites/Match/icon-arrow-yellow-left.png');
    --sprite-match__icon-arrow-yellow-right: url('/Assets/Art/UI/Sprites/Match/icon-arrow-yellow-right.png');
    --sprite-match__icon-battery-full: url('/Assets/Art/UI/Sprites/Match/icon-battery-full.png');
    --sprite-match__icon-battery-low: url('/Assets/Art/UI/Sprites/Match/icon-battery-low.png');
    --sprite-match__icon-battery-medium: url('/Assets/Art/UI/Sprites/Match/icon-battery-medium.png');
    --sprite-match__icon-crown-winner: url('/Assets/Art/UI/Sprites/Match/icon-crown-winner.png');
    --sprite-match__icon-deathnotification-killer: url('/Assets/Art/UI/Sprites/Match/icon-deathnotification-killer.png');
    --sprite-match__icon-deathnotification-victim: url('/Assets/Art/UI/Sprites/Match/icon-deathnotification-victim.png');
    --sprite-match__icon-equipmentcharacter-amulet: url('/Assets/Art/UI/Sprites/Match/icon-equipmentcharacter-amulet.png');
    --sprite-match__icon-equipmentcharacter-armor: url('/Assets/Art/UI/Sprites/Match/icon-equipmentcharacter-armor.png');
    --sprite-match__icon-equipmentcharacter-helmet: url('/Assets/Art/UI/Sprites/Match/icon-equipmentcharacter-helmet.png');
    --sprite-match__icon-equipmentcharacter-shield: url('/Assets/Art/UI/Sprites/Match/icon-equipmentcharacter-shield.png');
    --sprite-match__icon-hide: url('/Assets/Art/UI/Sprites/Match/icon-hide.png');
    --sprite-match__icon-joystick-move: url('/Assets/Art/UI/Sprites/Match/icon-joystick-move.png');
    --sprite-match__icon-joystick-shoot: url('/Assets/Art/UI/Sprites/Match/icon-joystick-shoot.png');
    --sprite-match__icon-killfeed-normal: url('/Assets/Art/UI/Sprites/Match/icon-killfeed-normal.png');
    --sprite-match__icon-killfeed-suicide: url('/Assets/Art/UI/Sprites/Match/icon-killfeed-suicide.png');
    --sprite-match__icon-max-ammo: url('/Assets/Art/UI/Sprites/Match/icon-max-ammo.png');
    --sprite-match__icon-max-health: url('/Assets/Art/UI/Sprites/Match/icon-max-health.png');
    --sprite-match__icon-max-shield: url('/Assets/Art/UI/Sprites/Match/icon-max-shield.png');
    --sprite-match__icon-menu: url('/Assets/Art/UI/Sprites/Match/icon-menu.png');
    --sprite-match__icon-players-alive: url('/Assets/Art/UI/Sprites/Match/icon-players-alive.png');
    --sprite-match__icon-players-killed: url('/Assets/Art/UI/Sprites/Match/icon-players-killed.png');
    --sprite-match__icon-show: url('/Assets/Art/UI/Sprites/Match/icon-show.png');
    --sprite-match__icon-skull-1: url('/Assets/Art/UI/Sprites/Match/icon-skull-1.png');
    --sprite-match__icon-skull-2: url('/Assets/Art/UI/Sprites/Match/icon-skull-2.png');
    --sprite-match__icon-skull-3: url('/Assets/Art/UI/Sprites/Match/icon-skull-3.png');
    --sprite-match__icon-skull-full: url('/Assets/Art/UI/Sprites/Match/icon-skull-full.png');
    --sprite-match__icon-skull-impact: url('/Assets/Art/UI/Sprites/Match/icon-skull-impact.png');
    --sprite-match__icon-star: url('/Assets/Art/UI/Sprites/Match/icon-star.png');
    --sprite-match__icon-star-yellow: url('/Assets/Art/UI/Sprites/Match/icon-star-yellow.png');
    --sprite-match__icon-switch: url('/Assets/Art/UI/Sprites/Match/icon-switch.png');
    --sprite-match__icon-weaponswitch: url('/Assets/Art/UI/Sprites/Match/icon-weaponswitch.png');
    --sprite-match__icon-wifi-high: url('/Assets/Art/UI/Sprites/Match/icon-wifi-high.png');
    --sprite-match__icon-wifi-low: url('/Assets/Art/UI/Sprites/Match/icon-wifi-low.png');
    --sprite-match__icon-wifi-medium: url('/Assets/Art/UI/Sprites/Match/icon-wifi-medium.png');
    --sprite-match__icon-wifi-noconnection: url('/Assets/Art/UI/Sprites/Match/icon-wifi-noconnection.png');
    --sprite-match__icon-x-red: url('/Assets/Art/UI/Sprites/Match/icon-x-red.png');
    --sprite-match__pattern-jagged-vertical: url('/Assets/Art/UI/Sprites/Match/pattern-jagged-vertical.png');
    --sprite-match__progress-damage: url('/Assets/Art/UI/Sprites/Match/progress-damage.png');
    --sprite-match__progress-health: url('/Assets/Art/UI/Sprites/Match/progress-health.png');
    --sprite-match__progress-health-squads: url('/Assets/Art/UI/Sprites/Match/progress-health-squads.png');
    --sprite-match__progress-separator: url('/Assets/Art/UI/Sprites/Match/progress-separator.png');
    --sprite-match__progress-shield: url('/Assets/Art/UI/Sprites/Match/progress-shield.png');
    --sprite-match__text-beast: url('/Assets/Art/UI/Sprites/Match/text-beast.png');
    --sprite-match__text-blasted: url('/Assets/Art/UI/Sprites/Match/text-blasted.png');
    --sprite-match__text-blasted-white: url('/Assets/Art/UI/Sprites/Match/text-blasted-white.png');
    --sprite-match__text-busted: url('/Assets/Art/UI/Sprites/Match/text-busted.png');
    --sprite-match__text-matchended: url('/Assets/Art/UI/Sprites/Match/text-matchended.png');
    --sprite-match__text-youchosedeath: url('/Assets/Art/UI/Sprites/Match/text-youchosedeath.png');
    --sprite-match__text-youwon: url('/Assets/Art/UI/Sprites/Match/text-youwon.png');
    --sprite-match__text-youwon-white: url('/Assets/Art/UI/Sprites/Match/text-youwon-white.png');
    --sprite-match__vfx-blast-spark: url('/Assets/Art/UI/Sprites/Match/vfx-blast-spark.png');
    --sprite-match__vfx-crack-red: url('/Assets/Art/UI/Sprites/Match/vfx-crack-red.png');
    --sprite-match__vfx-explosion: url('/Assets/Art/UI/Sprites/Match/vfx-explosion.png');
    --sprite-match__vfx-joystick-direction: url('/Assets/Art/UI/Sprites/Match/vfx-joystick-direction.png');
    --sprite-match__vfx-killstreak-skullpart1: url('/Assets/Art/UI/Sprites/Match/vfx-killstreak-skullpart1.png');
    --sprite-match__vfx-killstreak-skullpart10: url('/Assets/Art/UI/Sprites/Match/vfx-killstreak-skullpart10.png');
    --sprite-match__vfx-killstreak-skullpart2: url('/Assets/Art/UI/Sprites/Match/vfx-killstreak-skullpart2.png');
    --sprite-match__vfx-killstreak-skullpart3: url('/Assets/Art/UI/Sprites/Match/vfx-killstreak-skullpart3.png');
    --sprite-match__vfx-killstreak-skullpart4: url('/Assets/Art/UI/Sprites/Match/vfx-killstreak-skullpart4.png');
    --sprite-match__vfx-killstreak-skullpart5: url('/Assets/Art/UI/Sprites/Match/vfx-killstreak-skullpart5.png');
    --sprite-match__vfx-killstreak-skullpart6: url('/Assets/Art/UI/Sprites/Match/vfx-killstreak-skullpart6.png');
    --sprite-match__vfx-killstreak-skullpart7: url('/Assets/Art/UI/Sprites/Match/vfx-killstreak-skullpart7.png');
    --sprite-match__vfx-killstreak-skullpart8: url('/Assets/Art/UI/Sprites/Match/vfx-killstreak-skullpart8.png');
    --sprite-match__vfx-killstreak-skullpart9: url('/Assets/Art/UI/Sprites/Match/vfx-killstreak-skullpart9.png');
    --sprite-match__win-gradient: url('/Assets/Art/UI/Sprites/Match/win-gradient.png');
    --sprite-match__winLight: url('/Assets/Art/UI/Sprites/Match/winLight.png');
}

.sprite-match__animation-shieldbreak-notification__firsthalf-shield {
    background-image: var(--sprite-match__animation-shieldbreak-notification__firsthalf-shield);
    width: 41px;
    height: 46px;
}

.sprite-match__animation-shieldbreak-notification__light {
    background-image: var(--sprite-match__animation-shieldbreak-notification__light);
    width: 86px;
    height: 99px;
}

.sprite-match__animation-shieldbreak-notification__secondhalf-shield {
    background-image: var(--sprite-match__animation-shieldbreak-notification__secondhalf-shield);
    width: 39px;
    height: 44px;
}

.sprite-match__animation-shieldbreak-notification__shield {
    background-image: var(--sprite-match__animation-shieldbreak-notification__shield);
    width: 46px;
    height: 51px;
}

.sprite-match__background-equipmentcharacter {
    background-image: var(--sprite-match__background-equipmentcharacter);
    width: 192px;
    height: 186px;
}

.sprite-match__background-equippedweapons {
    background-image: var(--sprite-match__background-equippedweapons);
    width: 50px;
    height: 100px;
}

.sprite-match__background-gradient-blue {
    background-image: var(--sprite-match__background-gradient-blue);
    width: 466px;
    height: 92px;
}

.sprite-match__background-gradient-pink {
    background-image: var(--sprite-match__background-gradient-pink);
    width: 132px;
    height: 132px;
}

.sprite-match__background-gradient-yellow {
    background-image: var(--sprite-match__background-gradient-yellow);
    width: 274px;
    height: 126px;
}

.sprite-match__background-healthbar {
    background-image: var(--sprite-match__background-healthbar);
    width: 18px;
    height: 22px;
}

.sprite-match__background-killstreak {
    background-image: var(--sprite-match__background-killstreak);
    width: 531px;
    height: 178px;
}

.sprite-match__background-playerbar {
    background-image: var(--sprite-match__background-playerbar);
    width: 62px;
    height: 44px;
}

.sprite-match__background-reward-bpp {
    background-image: var(--sprite-match__background-reward-bpp);
    width: 619px;
    height: 162px;
}

.sprite-match__background-reward-normal {
    background-image: var(--sprite-match__background-reward-normal);
    width: 609px;
    height: 117px;
}

.sprite-match__background-squadmember {
    background-image: var(--sprite-match__background-squadmember);
    width: 127px;
    height: 97px;
}

.sprite-match__background-whitegradient {
    background-image: var(--sprite-match__background-whitegradient);
    width: 498px;
    height: 40px;
}

.sprite-match__banner-rainbow {
    background-image: var(--sprite-match__banner-rainbow);
    width: 1027px;
    height: 255px;
}

.sprite-match__banner-red {
    background-image: var(--sprite-match__banner-red);
    width: 824px;
    height: 198px;
}

.sprite-match__banner-winner {
    background-image: var(--sprite-match__banner-winner);
    width: 1001px;
    height: 434px;
}

.sprite-match__button-next {
    background-image: var(--sprite-match__button-next);
    width: 526px;
    height: 127px;
}

.sprite-match__button-next:active {
    background-image: var(--sprite-match__button-next-pressed);
}

.sprite-match__DarkAirstrike {
    background-image: var(--sprite-match__DarkAirstrike);
    width: 248px;
    height: 248px;
}

.sprite-match__DarkGrenade {
    background-image: var(--sprite-match__DarkGrenade);
    width: 248px;
    height: 248px;
}

.sprite-match__DarkHazardAimSpawn {
    background-image: var(--sprite-match__DarkHazardAimSpawn);
    width: 248px;
    height: 248px;
}

.sprite-match__DarkRadar {
    background-image: var(--sprite-match__DarkRadar);
    width: 248px;
    height: 248px;
}

.sprite-match__DarkShieldedCharge {
    background-image: var(--sprite-match__DarkShieldedCharge);
    width: 248px;
    height: 248px;
}

.sprite-match__DarkShieldSelfStatus {
    background-image: var(--sprite-match__DarkShieldSelfStatus);
    width: 124px;
    height: 124px;
}

.sprite-match__DarkStunGrenade {
    background-image: var(--sprite-match__DarkStunGrenade);
    width: 248px;
    height: 248px;
}

.sprite-match__gradient-lowhp {
    background-image: var(--sprite-match__gradient-lowhp);
    width: 180px;
    height: 180px;
}

.sprite-match__gradientwhite {
    background-image: var(--sprite-match__gradientwhite);
    width: 261px;
    height: 265px;
}

.sprite-match__icon-ammo {
    background-image: var(--sprite-match__icon-ammo);
    width: 28px;
    height: 28px;
}

.sprite-match__icon-arrow-yellow-left {
    background-image: var(--sprite-match__icon-arrow-yellow-left);
    width: 54px;
    height: 54px;
}

.sprite-match__icon-arrow-yellow-right {
    background-image: var(--sprite-match__icon-arrow-yellow-right);
    width: 54px;
    height: 54px;
}

.sprite-match__icon-battery-full {
    background-image: var(--sprite-match__icon-battery-full);
    width: 34px;
    height: 16px;
}

.sprite-match__icon-battery-low {
    background-image: var(--sprite-match__icon-battery-low);
    width: 34px;
    height: 16px;
}

.sprite-match__icon-battery-medium {
    background-image: var(--sprite-match__icon-battery-medium);
    width: 34px;
    height: 16px;
}

.sprite-match__icon-crown-winner {
    background-image: var(--sprite-match__icon-crown-winner);
    width: 90px;
    height: 64px;
}

.sprite-match__icon-deathnotification-killer {
    background-image: var(--sprite-match__icon-deathnotification-killer);
    width: 80px;
    height: 40px;
}

.sprite-match__icon-deathnotification-victim {
    background-image: var(--sprite-match__icon-deathnotification-victim);
    width: 80px;
    height: 40px;
}

.sprite-match__icon-equipmentcharacter-amulet {
    background-image: var(--sprite-match__icon-equipmentcharacter-amulet);
    width: 42px;
    height: 46px;
}

.sprite-match__icon-equipmentcharacter-armor {
    background-image: var(--sprite-match__icon-equipmentcharacter-armor);
    width: 72px;
    height: 68px;
}

.sprite-match__icon-equipmentcharacter-helmet {
    background-image: var(--sprite-match__icon-equipmentcharacter-helmet);
    width: 94px;
    height: 98px;
}

.sprite-match__icon-equipmentcharacter-shield {
    background-image: var(--sprite-match__icon-equipmentcharacter-shield);
    width: 95px;
    height: 122px;
}

.sprite-match__icon-hide {
    background-image: var(--sprite-match__icon-hide);
    width: 42px;
    height: 42px;
}

.sprite-match__icon-joystick-move {
    background-image: var(--sprite-match__icon-joystick-move);
    width: 126px;
    height: 126px;
}

.sprite-match__icon-joystick-shoot {
    background-image: var(--sprite-match__icon-joystick-shoot);
    width: 130px;
    height: 132px;
}

.sprite-match__icon-killfeed-normal {
    background-image: var(--sprite-match__icon-killfeed-normal);
    width: 60px;
    height: 30px;
}

.sprite-match__icon-killfeed-suicide {
    background-image: var(--sprite-match__icon-killfeed-suicide);
    width: 60px;
    height: 30px;
}

.sprite-match__icon-max-ammo {
    background-image: var(--sprite-match__icon-max-ammo);
    width: 44px;
    height: 44px;
}

.sprite-match__icon-max-health {
    background-image: var(--sprite-match__icon-max-health);
    width: 44px;
    height: 44px;
}

.sprite-match__icon-max-shield {
    background-image: var(--sprite-match__icon-max-shield);
    width: 44px;
    height: 44px;
}

.sprite-match__icon-menu {
    background-image: var(--sprite-match__icon-menu);
    width: 40px;
    height: 36px;
}

.sprite-match__icon-players-alive {
    background-image: var(--sprite-match__icon-players-alive);
    width: 34px;
    height: 48px;
}

.sprite-match__icon-players-killed {
    background-image: var(--sprite-match__icon-players-killed);
    width: 44px;
    height: 48px;
}

.sprite-match__icon-show {
    background-image: var(--sprite-match__icon-show);
    width: 42px;
    height: 42px;
}

.sprite-match__icon-skull-1 {
    background-image: var(--sprite-match__icon-skull-1);
    width: 68px;
    height: 72px;
}

.sprite-match__icon-skull-2 {
    background-image: var(--sprite-match__icon-skull-2);
    width: 68px;
    height: 72px;
}

.sprite-match__icon-skull-3 {
    background-image: var(--sprite-match__icon-skull-3);
    width: 72px;
    height: 81px;
}

.sprite-match__icon-skull-full {
    background-image: var(--sprite-match__icon-skull-full);
    width: 68px;
    height: 72px;
}

.sprite-match__icon-skull-impact {
    background-image: var(--sprite-match__icon-skull-impact);
    width: 103px;
    height: 115px;
}

.sprite-match__icon-star {
    background-image: var(--sprite-match__icon-star);
    width: 50px;
    height: 50px;
}

.sprite-match__icon-star-yellow {
    background-image: var(--sprite-match__icon-star-yellow);
    width: 144px;
    height: 144px;
}

.sprite-match__icon-switch {
    background-image: var(--sprite-match__icon-switch);
    width: 50px;
    height: 50px;
}

.sprite-match__icon-weaponswitch {
    background-image: var(--sprite-match__icon-weaponswitch);
    width: 96px;
    height: 88px;
}

.sprite-match__icon-wifi-high {
    background-image: var(--sprite-match__icon-wifi-high);
    width: 34px;
    height: 26px;
}

.sprite-match__icon-wifi-low {
    background-image: var(--sprite-match__icon-wifi-low);
    width: 34px;
    height: 26px;
}

.sprite-match__icon-wifi-medium {
    background-image: var(--sprite-match__icon-wifi-medium);
    width: 34px;
    height: 26px;
}

.sprite-match__icon-wifi-noconnection {
    background-image: var(--sprite-match__icon-wifi-noconnection);
    width: 34px;
    height: 26px;
}

.sprite-match__icon-x-red {
    background-image: var(--sprite-match__icon-x-red);
    width: 46px;
    height: 46px;
}

.sprite-match__pattern-jagged-vertical {
    background-image: var(--sprite-match__pattern-jagged-vertical);
    width: 388px;
    height: 1080px;
}

.sprite-match__progress-damage {
    background-image: var(--sprite-match__progress-damage);
    width: 12px;
    height: 17px;
}

.sprite-match__progress-health {
    background-image: var(--sprite-match__progress-health);
    width: 12px;
    height: 18px;
}

.sprite-match__progress-health-squads {
    background-image: var(--sprite-match__progress-health-squads);
    width: 9px;
    height: 11px;
}

.sprite-match__progress-separator {
    background-image: var(--sprite-match__progress-separator);
    width: 4px;
    height: 16px;
}

.sprite-match__progress-shield {
    background-image: var(--sprite-match__progress-shield);
    width: 9px;
    height: 11px;
}

.sprite-match__text-beast {
    background-image: var(--sprite-match__text-beast);
    width: 160px;
    height: 75px;
}

.sprite-match__text-blasted {
    background-image: var(--sprite-match__text-blasted);
    width: 302px;
    height: 101px;
}

.sprite-match__text-blasted-white {
    background-image: var(--sprite-match__text-blasted-white);
    width: 291px;
    height: 88px;
}

.sprite-match__text-busted {
    background-image: var(--sprite-match__text-busted);
    width: 230px;
    height: 86px;
}

.sprite-match__text-matchended {
    background-image: var(--sprite-match__text-matchended);
    width: 471px;
    height: 124px;
}

.sprite-match__text-youchosedeath {
    background-image: var(--sprite-match__text-youchosedeath);
    width: 519px;
    height: 113px;
}

.sprite-match__text-youwon {
    background-image: var(--sprite-match__text-youwon);
    width: 345px;
    height: 107px;
}

.sprite-match__text-youwon-white {
    background-image: var(--sprite-match__text-youwon-white);
    width: 441px;
    height: 124px;
}

.sprite-match__vfx-blast-spark {
    background-image: var(--sprite-match__vfx-blast-spark);
    width: 136px;
    height: 136px;
}

.sprite-match__vfx-crack-red {
    background-image: var(--sprite-match__vfx-crack-red);
    width: 274px;
    height: 260px;
}

.sprite-match__vfx-explosion {
    background-image: var(--sprite-match__vfx-explosion);
    width: 228px;
    height: 206px;
}

.sprite-match__vfx-joystick-direction {
    background-image: var(--sprite-match__vfx-joystick-direction);
    width: 414px;
    height: 182px;
}

.sprite-match__vfx-killstreak-skullpart1 {
    background-image: var(--sprite-match__vfx-killstreak-skullpart1);
    width: 13px;
    height: 20px;
}

.sprite-match__vfx-killstreak-skullpart10 {
    background-image: var(--sprite-match__vfx-killstreak-skullpart10);
    width: 48px;
    height: 16px;
}

.sprite-match__vfx-killstreak-skullpart2 {
    background-image: var(--sprite-match__vfx-killstreak-skullpart2);
    width: 29px;
    height: 22px;
}

.sprite-match__vfx-killstreak-skullpart3 {
    background-image: var(--sprite-match__vfx-killstreak-skullpart3);
    width: 27px;
    height: 48px;
}

.sprite-match__vfx-killstreak-skullpart4 {
    background-image: var(--sprite-match__vfx-killstreak-skullpart4);
    width: 47px;
    height: 58px;
}

.sprite-match__vfx-killstreak-skullpart5 {
    background-image: var(--sprite-match__vfx-killstreak-skullpart5);
    width: 69px;
    height: 90px;
}

.sprite-match__vfx-killstreak-skullpart6 {
    background-image: var(--sprite-match__vfx-killstreak-skullpart6);
    width: 40px;
    height: 32px;
}

.sprite-match__vfx-killstreak-skullpart7 {
    background-image: var(--sprite-match__vfx-killstreak-skullpart7);
    width: 110px;
    height: 123px;
}

.sprite-match__vfx-killstreak-skullpart8 {
    background-image: var(--sprite-match__vfx-killstreak-skullpart8);
    width: 81px;
    height: 51px;
}

.sprite-match__vfx-killstreak-skullpart9 {
    background-image: var(--sprite-match__vfx-killstreak-skullpart9);
    width: 18px;
    height: 39px;
}

.sprite-match__win-gradient {
    background-image: var(--sprite-match__win-gradient);
    width: 172px;
    height: 172px;
}

.sprite-match__winLight {
    background-image: var(--sprite-match__winLight);
    width: 444px;
    height: 266px;
}

