.background {
    background-image: url('project://database/Assets/Art/Textures/Ui/Splashscreens%20&%20Logos/LoadingBkNoLogo.png?fileID=2800000&guid=20756f8f6e6857841a5b8bd4d761942a&type=3#LoadingBkNoLogo');
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    -unity-background-scale-mode: scale-and-crop;
}
