.viewHideButton
{
    background-image: url('project://database/Assets/Art/Textures/Ui/RegistrationLogin/HideIcon.png?fileID=2800000&guid=ea544e271efb05989ea71ed79647b554&type=3#HideIcon');
    position: absolute;
    top: 281px;
    left: 778px;
    width: 38px;
    height: 38px;
}

.viewHideButton--show
{
    background-image: url('project://database/Assets/Art/Textures/Ui/RegistrationLogin/ShowIcon.png?fileID=2800000&guid=070c3abb18dfd07d2165cc6179854968&type=3#ShowIcon');
}

.viewHideButton--hide
{
    background-image: url('project://database/Assets/Art/Textures/Ui/RegistrationLogin/HideIcon.png?fileID=2800000&guid=ea544e271efb05989ea71ed79647b554&type=3#HideIcon');
}   