.maps-scroller {
    border-top-left-radius: 27px;
    border-top-right-radius: 27px;
    border-bottom-right-radius: 27px;
    border-bottom-left-radius: 27px;
    background-color: rgb(22, 20, 38);
    height: 650px;
}

.content {
    width: 1249px;
}

.unity-scroll-view__content-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
